[2018-06-15 15:45] kozbo opened #5 "Consumer CLI - how to search for data"
# Why
As a user I would like to know how to search for data in the Data Store

# Definition of Done
 - [ ] describe the basic search CLI command
 - [ ] give a few different search examples

[2018-06-15 15:46] kozbo opened #6 "Consumer CLI - how to download data"
# Why
As a user I would like to know how to download data from the Data Store

# DoD
 - [ ] give a few examples of how to use the CLI to download data. May incorporate search documentation
- [ ] give a few examples of how to use the CLI to download metadata.

[2018-06-15 15:46] kozbo opened #7 "Consumer CLI - how to subscribe for new data notifications"
# WHY
As a user I would like to receive notification when new data of a certain type arrives in the data store

# DoD
 - [ ] Show how to create the search criteria for the filter
 - [ ] Show how to request a set of metadata fields to be returned in the notification
 - [ ] Show how to set up an endpoint to receive notifications

[2018-06-15 15:46] kozbo opened #8 "[EPIC] Consumer CLI user journey"
User journey for

 - [ ] How to find data
 - [ ] How to download
 - [ ] How to subscribe to change notifications

[2018-06-15 16:09] kozbo opened #9 "Consumer CLI - general install instructions"
# Why
As a user I need to know how to set up my client to use the CLI

# DoD
 - [ ] list general components needed
 - [ ] strongly suggest that they use a virtual evironment
 - [ ] point to basic CLI doc

[2018-06-15 16:14] kozbo opened #10 "Consumer CLI - how to use the checkout commands"
# Why
As a user I would like to know how to use the checkout command to access data in the Data Store

# DoD
 - [ ] Describe how to use the checkout commands

[2018-06-15 16:26] kozbo opened #11 "Consumer CLI - download a manifest of files"
# Why
As a user I would like be able to use the manifest file created from the data browser to download all the files in the manifest

# Definition of Done
 - [ ] describe how to use the manifest download command. Describe the results.

[2018-06-15 16:35] kozbo opened #12 "Contributing data"
# Why
Epic to track all the tasks in the Learn / Userguides / Contributing Data section

# Definition of Done
 - [ ] Registering a project
 - [ ] Pre-submission preparation
 - [ ] preparing metadata
 - [ ] preparing files

[2018-06-15 16:52] kozbo opened #13 "Consumer API documentation"
# Why
Epic to track progress on API documentation

# Definition of Done
 - [ ] Consumer API docs - incorporate Read The Docs page into the documentation

[2018-06-15 19:17] jodihir opened #14 "Add internal links to the secondary analysis service explanation doc"
# Why
As a user I would like to <follow links indicated> to <see the pipeline outputs>

# Definition of Done
 - [ ] <when it's clear how to make the links, they should be added to this doc. >

[2018-06-15 19:20] jodihir commented on #14
Note that the most current version of this doc is in the secondary-analysis brance

[2018-06-15 20:11] jodihir opened #15 "Smart-Seq2 documentation - review"
Review the articles in the data portal for accuracy and completeness.

SS2:
https://dev.data.humancellatlas.org/learn/userguides/data-processing-pipelines/smart-seq2-workflow-in-detail
Add Benchmarking information if applicable.

QC metrics section:
https://dev.data.humancellatlas.org/learn/userguides/data-processing-pipelines/qc-mertics

[2018-06-22 19:12] mfiume opened #19 "Add DNAstack as an application"
# Why
DNAstack's a secondary and tertiary analysis provider. We support running private and public workflows written in WDL/CWL and would like to enable the community to run these on HCA data.

# Definition of Done
 - [ ] List DNAstack as an app on the visualization portal page
 - [ ] Integrate DNAstack with the portal such that collections of data from HCA can be imported

[2018-06-22 21:52] eweitz commented on #19
Hi @mfiume!  Could you fill out the information below?  We'll use this in your portal's listing in the registry.

* Title of tool
* URL of tool
* 2-3 sentence description
* Who to attribute

And if you'd like:
* Contact info to display
* Logo or screenshot

[2018-06-26 05:39] NoopDog opened #20 "Copy Content Issues from Portal and Browser into Content Portal"

[2018-06-26 05:40] NoopDog opened #21 "Create an issue per document that needs to be created and assign ownership and due dates."

[2018-06-26 05:43] NoopDog opened #22 "Need documentation for Consumer Vignettes developers"

[2018-06-26 05:44] NoopDog opened #23 "Teams create outlines for their portal content"

[2018-06-26 08:50] NoopDog opened #24 "Edit of content for tone"

[2018-06-26 08:51] NoopDog opened #25 "Design tone of content"

[2018-06-26 08:52] NoopDog opened #26 "Content Review by HCA GG"

[2018-06-26 08:53] NoopDog opened #27 "Leads review first drafts"

[2018-06-26 21:41] happyimadesignr opened #28 "Helpful content to reference in a DCP google site"
There is some great content here that would fit in our Data Portal About section and Reuse DCP Components section under Build. https://sites.google.com/broadinstitute.org/hca-dcp-org/home?authuser=0

[2018-06-27 17:41] jodihir commented on #24
As documentation is developed Gabby and I will start reading through it to assess if tone and styles are reasonably similar so the user experience with our documentation is smooth and straightforward. We will also try to make sure the information is consistent across the boxes.  We'll likely enlist others to help as more documentation is completed.

[2018-06-28 16:44] #14 closed

[2018-07-02 15:17] eweitz commented on #19
@mfiume, DNAstack is now listed as a portal at https://dev.data.humancellatlas.org/analyze/portals/visualization-portals/.  We'll ping this issue when the "hand-off" mechanism to import HCA data in tertiary portals is ready.

[2018-07-02 15:20] #19 closed

[2018-07-06 22:30] theathorn commented on #11
After downloading manifest in Data Browser user is presented with a "Get Download Instructions" button which redirects to https://dev.data.humancellatlas.org/learn/userguides/accessing-data/using-the-cli-to-access-data/. This content needs updating.

[2018-07-06 22:59] theathorn commented on #20
Tickets should be assigned to the repo where the commit happens.
i.e. commits to HumanCellAtlas/data-portal/ should be associated with tickets in the same repo.
Similarly for commits to HumanCellAtlas/data-portal-content/

[2018-07-06 23:45] theathorn opened #29 "About: Learn About Contributing"

[2018-07-06 23:47] theathorn opened #30 "About: Learn about Pipelines"

[2018-07-06 23:47] theathorn opened #31 "About: Start Searching"

[2018-07-06 23:48] theathorn opened #32 "About: Explore applications"

[2018-07-06 23:49] theathorn opened #33 "About: What is the Platform: Ingest Service"
Basic content for section complete

[2018-07-06 23:49] theathorn opened #34 "About: Services: Data Store"

[2018-07-06 23:49] theathorn opened #35 "About: What is the Platform: Data Browser"

[2018-07-06 23:50] theathorn opened #36 "About: Services: Secondary Analysis"

[2018-07-06 23:50] theathorn opened #37 "About: Software"

[2018-07-06 23:51] theathorn opened #38 "Learn: Metadata Standard"
- [x] Implement Learn / Metadata Standards pages (@NoopDog )
- [x] Change the top level title from "Metadata Schema" to "Metadata Standard" (@NoopDog )
- [x] Review pages (Mallory)
- [x] Update documents in metadata-schema repo as needed (Mallory)

[2018-07-06 23:51] theathorn opened #39 "About Page "Overview" section"
# Why
As a user I would like to read an overview of the DCP web site

# Definition of Done
 - [ ] <Complete and review each section of the Overview>

[2018-07-09 20:30] theathorn opened #41 "Contribute: Submitting Project Data"
# Why
As a user I would like to know how to submit project data

# Definition of Done
 - Implement page

[2018-07-09 20:31] theathorn opened #42 "Contribute: Updating Project Data"
# Why
As a user I would like to know how to update project data

# Definition of Done
 - Implement page

[2018-07-09 20:40] theathorn opened #43 "Contribute Tab Overview section"
# Why
As a user I would like to contribute data to the DCP

# Definition of Done
 - The Contribute Tab has an Overview section with the following links:

- [x] "Contact us" - current sends email to data-help@humancellatlas.org
- [x] "See and share"
- [ ] "Prepare metadata"
- [ ] "Upload data"
- [ ] "Detailed instructions"

These links needs to be implemented after reconciling with the Learn / User

[2018-07-09 20:45] theathorn opened #44 "Contribute/Overview has a typo under "See and share" logo"
"accessioned data on the portal" has a graphic character before the word "on".

[2018-07-09 21:03] theathorn opened #45 "Learn: Metadata Dictionary pages"
- [x] Implement page for Metadata Dictionary (@NoopDog )
- [x] Decide what metadata attributes to display (Mallory, @gabsie )
- [x] Decide how to organize fields (Mallory, @gabsie )
- [x] fill in top page here: https://dev.data.humancellatlas.org/learn/metadata-standards/metadata-dictionary

[2018-07-09 21:42] theathorn opened #46 "About: Help & FAQ Page"
- [x] See https://chanzuckerberg.invisionapp.com/share/B8M7GFUXJGS#/screens/305992563 which should replace the "mailto" link.

[2018-07-09 22:46] #20 closed

[2018-07-09 22:57] theathorn commented on #44
![see_and_share_typo.png](https://images.zenhubusercontent.com/5ae772614b5806bc2bd13821/a89358af-726b-4802-ad37-37b9307351b3)

[2018-07-09 23:10] theathorn opened #47 "Learn Overview: Overview"

[2018-07-09 23:11] theathorn opened #48 "Learn Overview: Data Lifecycle"

[2018-07-09 23:12] theathorn opened #49 "Learn Overview: Data Use Agreement"

[2018-07-09 23:12] theathorn opened #50 "Learn Tab"
Implement Learn tab

[2018-07-09 23:15] theathorn commented on #49
Is the https://creativecommons.org/licenses/by/4.0/ the correct license?
If so, we can close this issue.

[2018-07-09 23:28] theathorn opened #51 "Learn: User Guides: Overview of Accessing Data"
# Why
As a user I would like to read an overview of how to access data on the site.

# Definition of Done
 - Implement page

[2018-07-09 23:30] theathorn opened #52 "Learn: User Guides: Using the Data Browser to Access Data"
# Why
As a user I would like to know how to use the Data Browser

# Definition of Done
 - Implement page

[2018-07-09 23:33] theathorn opened #53 "Learn: User Guides: Using the CLI to Access Data"
# Why
As a user I would like to know how to use the CLI to access data on the site.

# Definition of Done
 - Implement page

[2018-07-09 23:34] theathorn opened #54 "Learn: User Guides: How to go from Query to Annotated Clusters"
# Why
As a user I would like to know how to go from Query to Annotated Clusters

# Definition of Done
 - Implement page

[2018-07-09 23:36] theathorn opened #55 "Learn: User Guides: Accessing Data: FAQ"
# Why
As a user I would like to read a FAQ on how to use the web site

# Definition of Done
 - Implement page

[2018-07-09 23:41] theathorn commented on #36
This should probably just be a link to: https://dev.data.humancellatlas.org/learn/userguides/secondary-analysis

[2018-07-09 23:44] theathorn opened #56 "Learn: Secondary Analysis: misspelling"
"Secondary" is misspelled in "What is the Seondary Analysis Service?"

[2018-07-09 23:48] theathorn opened #57 "Learn: User Guides: Secondary Analysis: File Formats"

[2018-07-09 23:49] theathorn opened #58 "Learn: Secondary Analysis: What is the Secondary Analysis Service?"

[2018-07-10 01:46] jodihir commented on #49
This is the correct license currently; we don't have any other statement to include at this point.  But we should probably leave this ticket open for now until we're sure there won't be anything else to add.

[2018-07-10 08:09] malloryfreeberg commented on #55
Do we know what questions we want in the FAQ? We have a few themes that have come out of ZenDesk, but I'm not sure what the scope of this FAQ should be.

[2018-07-10 12:52] NoopDog opened #59 "Remove Redundant Secondary Analysis Landing Page"
I don’t think we need the Overview of Secondary Analysis page (https://dev.data.humancellatlas.org/learn/userguides/secondary-analysis/); it’s not on the site map as far as I can tell. It seems redundant with the What is the Secondary Analysis Service? page and the Secondary Analysis page of the About section.  I need to update the figure anyway, so I think I’ll move that figure and figure legend

[2018-07-10 12:53] NoopDog commented on #59
Hi @jodihir this is ready to review.

[2018-07-10 13:03] NoopDog commented on #56
@theathorn this looks fixed can you validate? Thanks, D

[2018-07-10 14:19] lauraclarke commented on #45
@malloryfreeberg @daniwelter this is something we need to figure out if we can automate like the generation of https://github.com/HumanCellAtlas/metadata-schema/tree/master/docs/jsonBrowser

This should be entirely driven by the schema and not done by hand

[2018-07-10 15:42] malloryfreeberg commented on #45
Agreed. I think we can tweak @daniwelter 's code to make a prettier version of the markdown docs we have, and then these docs (or 1 doc) should be pulled in by the data-portal-content repo to display in the Data Portal.

[2018-07-10 20:13] #44 closed

[2018-07-10 20:20] #56 closed

[2018-07-12 12:42] malloryfreeberg commented on #45
@theathorn @NoopDog

We have some draft markdown documents in the metadata-schema repo that display tables of the metadata fields. To avoid duplicating documentation, is there a way to hook into the files we already have for displaying in the data portal?

We currently have:
- [core fields](https://github.com/HumanCellAtlas/metadata-schema/blob/master/docs/jsonBrowser/core.md)
- [type fields](http

[2018-07-12 13:33] malloryfreeberg commented on #38
In the metadata-schema repo, we have a handful of markdown documents that describe various aspects of the metadata standard:

- [Overview of Metadata Structure](https://github.com/HumanCellAtlas/metadata-schema/blob/master/docs/structure.md)
- [Metadata Design and Implementation Choices](https://github.com/HumanCellAtlas/metadata-schema/blob/master/docs/rationale.md)
- [Metadata Evolution and Upda

[2018-07-12 16:29] kbergin commented on #43
I'm not sure if this is the right place, but I noticed that on the current dev contribute page it says this
![image](https://user-images.githubusercontent.com/9449764/42646475-00f7d160-85cf-11e8-9cd0-b7db5ceb0153.png)

And the part where it says `smartSeq or 10x technology` should say `SmartSeq2 single cell RNA-seq or 10x V2 single cell RNA-seq`

Honestly am unsure about the capitalization of the

[2018-07-12 16:49] jodihir commented on #43
@theathorn Can you point me to the right doc to update the wording as Kylee mentioned?  The stub doc in the repo doesn't contain it. Maybe it's in another branch?

[2018-07-12 17:09] jodihir commented on #59
OK, I think it's good, thanks.

[2018-07-12 17:11] theathorn commented on #43
I think the page is contributeOverviewTemplate.js in the contribute branch of the data-portal repo.
@frano-m or @NoopDog can help.

[2018-07-12 18:01] jodihir commented on #43
OK thanks. Maybe the text in the gray box on this page could be moved to the data-portal-content repo page, as it will likely need to be updated fairly often?

[2018-07-12 18:08] jodihir commented on #36
I added that link @theathorn.

[2018-07-13 08:17] #59 closed

[2018-07-13 08:44] NoopDog commented on #36
I just updated the link to be relative (not absolute) so in the markdown its  `learn/userguides/secondary-analysis` then it prepends the website root to it so it works on dev, stage, prod, local etc. Otherwise the link hard coded to a specific environment. The internal links should always be relative. External links need to be absolute.  Thanks!

[2018-07-13 09:02] NoopDog opened #61 "Update Technology Names in Contribute Page."
![Screen Shot 2018-07-13 at 7.05.44 PM.png](https://images.zenhubusercontent.com/57323611bf93871ccd9ad094/c80c5c0e-6de8-460c-834d-11465d89b507)

the part where it says `smartSeq or 10x technology` should say `SmartSeq2 single cell RNA-seq or 10x V2 single cell RNA-seq`

[2018-07-13 09:05] NoopDog commented on #61
Hi @jodihir can you give us the proper capitalization here and we can update this.

It's not in a template at the moment for CMS as the styling is very custom. We can make a custom template for this or move it to the standard markdown look. This is a "back page" so not sure it needs to be so stylized and it will be easier to maintain if we make it more document oriented which can be expressed easi

[2018-07-13 09:08] NoopDog commented on #43
I have created #61  to address the technology names issue raised above.

[2018-07-13 09:11] NoopDog commented on #43
Hi @gabsie

I can point the contact link to the new contact page. Where should these other links go?

"Prepare metadata"
"Upload data"
"See and share"

[2018-07-13 09:51] NoopDog commented on #45
Hi @malloryfreeberg yes we can figure out a way to slurp your docs from your github repo. The next step i doing this will likely be to determine the structure you want the documents to be in.

Currently there is a "Metadata Dictionary"  subsection under the "Learn" section.
Under that we can support a single level list of documents, or a 2 level collapsing menu structure like you can see in the "u

[2018-07-13 11:04] malloryfreeberg commented on #45
As @NoopDog and I discussed, perhaps we should link the Metadata Dictionary directly to the JSON schemas, at least as a first-pass draft of what that might look like.

As an example, can we start by seeing what happens when we try to render the [donor_organism](https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/type/biomaterial/donor_organism.json) schema in the Metadata Dic

[2018-07-13 11:57] malloryfreeberg commented on #45
The idea isn't to import JSON format, but to build a table in the Data Portal using the description, user-friendly name, example, etc. that are actually in the schema. It removes an additional layer of translation from schema -> markdown docs -> data portal to just schema -> data portal. The metadata information will still be displayed in a table in the Data Portal.

[2018-07-13 12:17] lauraclarke commented on #45
If we also want this table hosted in the github repo (which I think is a good idea) as well though we either need a solution that builds it once and pushes it to both places or a webhook that pulls it into the data portal from the git repo.

[2018-07-13 12:40] NoopDog commented on #43
* "Contact us" now inks to the contact page
* "See and Share" now links to the data browser

We still need pages/links for:

* "Prepare metadata"
* "Upload data"
* "Detailed Instructions"

Thanks!

[2018-07-13 13:15] malloryfreeberg commented on #29
@theathorn @NoopDog Is this the page that this ticket is referring to: https://dev.data.humancellatlas.org/learn/userguides/contributing-data ?

[2018-07-13 15:21] theathorn commented on #54
Out of scope for Pilot phase.

[2018-07-13 15:22] NoopDog commented on #54
Remove from site for now.

[2018-07-13 15:31] malloryfreeberg commented on #43
The Contribute Overview landing page should also include some motivation as to why anyone would want to contribute (including what are the benefits)

Tagging myself and @gabsie in this ticket.

[2018-07-13 15:32] malloryfreeberg commented on #41
Basically, email a wrangler (but make some content that says this nicely).

[2018-07-13 15:34] malloryfreeberg commented on #38
I will discuss with @NoopDog and @willrockout about what the outline should be.

[2018-07-13 15:40] kozbo opened #63 "Learn: User Guides: Tertiary Analysis"
# Why
As a user I would like to learn about tertiary analysis

# Definition of Done
 - Implement "Learn/User Guides/Tertiary Analysis" page

[2018-07-13 15:49] NoopDog commented on #29
https://github.com/HumanCellAtlas/data-portal-content/blob/master/content/learn/userguides/contributing-data/contributing-data-landing.md

[2018-07-13 15:49] kozbo commented on #29
https://github.com/HumanCellAtlas/data-portal-content/tree/master/content/learn/userguides/contributing-data

[2018-07-13 15:53] NoopDog opened #64 "Update "Build" to Develop in Header"

[2018-07-13 15:54] malloryfreeberg commented on #29
@willrockout @gabsie and I should discuss/do this. This is the only page that will provide any specifics/details about how users can contribute data at this point.

Information to include:
- Why would you want to contribute
- What you need to contribute (data, metadata, experiment type)
- Who to contact when you think you want to contribute data (data-help)

[2018-07-13 16:00] NoopDog opened #65 "Create Staging Branch for Content and Use Master for Prod"

[2018-07-13 16:02] malloryfreeberg commented on #45
@willrockout, to give @NoopDog a starting point, this is a simple table that is filled in by fields in the donor_organism.json tab schema:

**Donor organism**

| user-friendly | description |
|:--|:--|
| **Genus species** | The scientific binomial name for the species of the biomaterial. |
| **Organism age** | Age in age_units. Measured since birth. |
| **Organism age unit** | The unit in which ag

[2018-07-13 23:04] theathorn opened #66 "Contact: Contact Us"
# Why
As a user I would like to know how to contact the DCP.

# Definition of Done
 - User clicks "Contact" link in lower bar. Implement sections for:
    - Email us with questions
    - Give us feedback
    - Register with the HCA

[2018-07-13 23:06] theathorn opened #67 "Contact: Join the Discussion"
# Why
As a user I would like to join the DCP discussion

# Definition of Done

[2018-07-13 23:17] theathorn commented on #47
Current paragraph titles include:
    - Learn how to use the Data Portal
    - About data use

[2018-07-13 23:44] theathorn commented on #63
@NoopDog I think we need a Learn/User Guides/Tertiary Analysis link similar to the one for Secondary Analysis.

[2018-07-14 00:02] theathorn opened #68 "Tertiary Portal Development Guide"
# Why
As a user I would like to know how to develop a tertiary portal

# Definition of Done
 - Implement "Develop[aka Build]/Development Guides/Tertiary Portal Development Guide" page.

[2018-07-14 00:08] theathorn opened #69 "Ingest Data Brokers Development Guide"
# Why
As a user I would like to develop an ingest data broker

# Definition of Done
 - Implement "Develop[aka Build]/Development Guides/Ingest Broker Development Guide" page.

[2018-07-14 00:14] theathorn opened #70 "Development Guides"
Develop/Development Guides section.

[2018-07-16 12:43] NoopDog opened #71 "Update Content Zenhub Board to Use Sprints and Milestones."

[2018-07-16 12:56] NoopDog commented on #61
Hi @jodihir hoping we can get this done in the current sprint can you provide the proper technology names for the text above? Thanks!

[2018-07-16 16:49] jodihir commented on #61
Hi @NoopDog I'm getting wording together and will review it with Tim tomorrow and get back to you.

[2018-07-16 18:54] jodihir commented on #61
Hi @NoopDog. Here is our suggestion for this chunk of text:

The Atlas is built by the community.
We plan to incorporate all types of single cell data.
* We are interested in openly consented data from human subjects.
* Our pipelines can proccess data derived from Smart-seq2 and 10x v2 scRNA-seq assays.
* All single cell genomics assays are welcome.

and you might want to change the button to say

[2018-07-18 12:16] malloryfreeberg commented on #38
Proposed structure for the Standards page (which I think is at [about/overview/standards](https://dev.data.humancellatlas.org/about/overview/standards/)?) which will include a section on Metadata standards:

- Data standards
- Metadata standards (this landing page will have some minor content)
    - Metadata Structure [(doc here)](https://github.com/HumanCellAtlas/metadata-schema/blob/master/docs/

[2018-07-18 12:22] malloryfreeberg commented on #29
@gabsie @willrockout I started a [branch](https://github.com/HumanCellAtlas/data-portal-content/blob/mf-contributing-data-landing/content/learn/userguides/contributing-data/contributing-data-landing.md) for this issue to add content to the [Learn About Contributing page](https://dev.data.humancellatlas.org/learn/userguides/contributing-data). Am definitely interested in your feedback of how this p

[2018-07-18 14:32] jodihir commented on #23
Closing this: general outlines were created for the pilot and work is in progress.

[2018-07-18 14:32] #23 closed

[2018-07-18 14:35] jodihir commented on #25
Update: Style guide is being drafted (Adreinne, Gabby, Jodi) and content for the pilot is in development. Not sure we need this ticket.

[2018-07-18 14:47] jodihir commented on #26
We're estimating this will happen in September.

[2018-07-18 15:15] NoopDog commented on #61
![Screen Shot 2018-07-19 at 1.12.03 AM.png](https://images.zenhubusercontent.com/57323611bf93871ccd9ad094/4017cae3-b3f2-47db-b851-f5f6312be92f)

@frano-m I have updated the text. Can you fix the wrap of the "Our pipelines can process..." line?

Lets make this wrap so the V2 is under the O.
Thx

[2018-07-19 18:41] willrockout commented on #29
@malloryfreeberg Do you want to discuss this tomorrow morning? I can do 7 am if you and @gabsie have time.

[2018-07-20 10:08] malloryfreeberg commented on #29
@willrockout yes! Calendar invite sent.

[2018-07-20 20:52] adriennes opened #74 "Project Details Pages"
# Why
As a user I would like to learn more about a particular project in the Data Browser.

# Definition of Done
 - [ ] Build out design as shown in UX mocks
https://chanzuckerberg.invisionapp.com/d/main/#/console/14715670/306181276/preview
-  [ ] Decide on which parts of page to display to start
-  [ ]  Decide how data contributors can edit these pages

[2018-07-20 20:53] #74 closed

[2018-07-23 02:54] jodihir commented on #61
Hi @NoopDog  I think that last line "All single cell genomics assays are welcome" isn't going to work.  We aren't yet ready for all possible data types.  Can you remove that bullet point?

[2018-07-23 04:54] NoopDog commented on #61
sure

On Mon, Jul 23, 2018 at 12:54 PM, Jodi Hirschman <notifications@github.com>
wrote:

--
Dave Rogers
CTO/Partner Clever Canary

M: 646 286 5371
http://clevercanary.com
@CleverCanary
@_DaveRogers
https://www.linkedin.com/pub/dave-rogers/0/90/92

[2018-07-23 19:07] lauraclarke commented on #61
@jodihir I would suggest that we recommend people approach us about data and don't say single cell genomics or imaging or anything because we won't necessarily turn anyone away but depending on what they have and the pace they want to submit and we might be able to do more than store will determine our precise reaction

[2018-07-24 14:10] jodihir commented on #61
Thanks @lauraclarke. So  it sounds like you agree to remove that last bullet point but are you suggesting we include some wording about contacting us to discuss data submission? (We have the "Contribute" button there, but we could add some wording about that.)

[2018-07-24 14:16] lauraclarke commented on #61
Yeah, I think we need to encourage people to contact us if they have something which they aren't sure if we want or not. I wonder if we should change

"all single-cell genomics data is welcome"

to something like

"We are interested in cellular resolution data, please contact us if you have data you want to submit"

[2018-07-24 14:41] jodihir commented on #61
@lauraclarke I see.  Just to get around using  "We are interested in..." twice (it's in the line above.), does this sound OK:

Please contact us to discuss submitting your cellular resolution data.

[2018-07-24 14:49] lauraclarke commented on #61
Yep, @gabsie @adriennes do you have a view of cellular versus single cell? I think cellular resolution it a little more broad but covers some of the imaging experiments better than single cell but we should be consistent

[2018-07-24 14:55] lauraclarke commented on #61
I guess submitting might need to be contributing to if that is the verb we are using

[2018-07-26 15:32] jodihir commented on #57
Some content started; will determine the rest with help from Marcus and Tim in August

[2018-07-26 21:16] jodihir commented on #30
This is drafted.  Figure will be re-done and content reviewed in August.

[2018-07-26 21:18] jodihir commented on #36
About section What is the Platform? can link to this overview of secondary analysis.

[2018-07-26 22:08] kozbo commented on #47
This page seems redundant. It just provides links to the same sections that are linked from the left hand panel. Why not remove it?

[2018-07-26 22:09] kozbo commented on #51
This might be a Quick Start Guide, why not rename the section?

[2018-07-26 22:13] kozbo commented on #52
This might be a Quick Start Guide too

intro - what is it

basic how to find data in the the browser

get manifest and download manifest

download contents  of manifest with hca cli
- how to get set up
- how to do download

something to do with the data, ipydb
- use a vignette

[2018-07-26 22:15] kozbo commented on #55
We should start with the ZenDesk items

[2018-07-26 22:21] kozbo opened #75 "Develop: Consumer API code dumentation detailed docs"
# Why
As a developer I would like to be able to see detailed API documentation for the Python bindings. This is beyond the Swagger docs that only document the web APIs

# Definition of Done
Provide a page like the read the docs page

[2018-07-26 22:32] kozbo opened #76 "About: "What We Provide" section is misleading"
Paraphrasing what I heard 3rd hand:
We have code that can be forked, we don't actually provide code for others.
We don't provide standards, we adopt them.

[2018-07-26 22:39] jodihir commented on #58
Not needed for Pilot

[2018-07-26 23:11] jodihir commented on #48
Link to the CMS doc: https://github.com/HumanCellAtlas/data-portal-content/blob/master/content/learn/overview/data-lifecycle.md

[2018-07-26 23:51] kozbo commented on #31
This already drops you into the Browser. This is good enough for now. Closing.

[2018-07-26 23:51] #31 closed

[2018-07-27 15:16] kozbo commented on #26
Looking for a date in early October

[2018-07-27 15:22] kozbo commented on #15
@jishuxu Please review, thanks

[2018-07-27 15:34] kozbo commented on #34
Suggest to borrow language from DCP overview doc

[2018-07-30 20:04] jodihir commented on #76
Change the heading "what we provide " to "Find more information about"

I think that change will be resolve the problem with using the word "Provide".

[2018-07-31 18:17] jodihir commented on #36
The content for this page is now in the About section, on the secondary analysis page.  It has been removed from the Learn section.  We will write an overview of the Secondary Analysis documentation that is in the Learn section in its place.

[2018-07-31 18:32] jodihir commented on #28
@gabsie @adriennes Do we want to add a page called "Our Values" to the About section? This could be the content for that type of page. In any case, I will add this wording to the Style Guide so that it is readily available to everyone in case it's useful.

[2018-07-31 21:02] jodihir commented on #48
Draft has been created for review and improvement by others.

[2018-08-03 14:55] malloryfreeberg commented on #43
We have updated some copy but will require 2 new sub-pages
1. contribute/overview (current)
1. contribute/how-to-contribute (new)
1. contribute/terms-and-conditions (new)

[2018-08-03 15:08] kozbo commented on #43
@NoopDog

[2018-08-03 15:16] #41 closed

[2018-08-03 15:20] #32 closed

[2018-08-03 15:23] #37 closed

[2018-08-03 15:28] kozbo commented on #33
Fill in text for this page
https://dev.data.humancellatlas.org/about/what-is-the-platform/ingest-service

model level of content on this page
https://dev.data.humancellatlas.org/about/what-is-the-platform/secondary-analysis

[2018-08-03 15:31] kozbo opened #79 "Create left hand menu item "Learn/User Guides/Tertiary Analysis""
We need a stub doc and left hand nav entry for Learn/User Guides/Tertiary Analysis.

[2018-08-03 15:37] kozbo commented on #47
Change to "Summary"
Expand on content

[2018-08-03 15:40] #68 closed

[2018-08-05 15:48] NoopDog commented on #38
HI @malloryfreeberg, after the rework of the about page the overview section has no left nav or place to list "standards".

How do you feel about adding these text pages as new pages in the left nav here?
https://dev.data.humancellatlas.org/learn/metadata-dictionary/metadata-dictionary

Also

1. Would it be possible add a package.json to the to level of the repo? No worries if its to much of a pai

[2018-08-08 18:54] jodihir opened #82 "Improve the Data Lifecycle article in the Learn Overview"
# Why
I've written a draft for an article about the data lifecycle (should that be 2 words?). @kozbo @malloryfreeberg @willrockout Please have a look and add details about data flow that I've missed; include links to your documentation if you want to.

https://github.com/HumanCellAtlas/data-portal-content/blob/master/content/learn/overview/data-lifecycle.md

[2018-08-09 00:10] NoopDog commented on #79
The page is here:
https://dev.data.humancellatlas.org/learn/userguides/tertiary-analysis

The stub for the top level page in this section is here:
https://github.com/HumanCellAtlas/data-portal-content/tree/master/content/learn/userguides/tertiary-analysis

@jodihi the stub for learn/userguides/tertiary-analysis is created. Who is it again that needs to add the content?

Also are there any sub docs

[2018-08-09 01:03] jodihir commented on #79
@TimothyTickle needs to add content there, and I'll check if additional pages are needed.

[2018-08-09 12:58] ambrosejcarr opened #83 "Complete Optimus user documentation"
Per @jodihir 's suggestions, there are some missing links and metric descriptions.
See https://github.com/HumanCellAtlas/data-portal-content/pull/78#pullrequestreview-144537650

# Definition of Done (this section has been updated; done is now 3/31/19)
 - [ ] Each link points to the right page
 - [ ] Quick Start Table is accurate and complete
 - [ ] All WDL tasks have links to the WDL, links to the

[2018-08-09 13:02] ambrosejcarr commented on #83
@kbergin for better or worse, I now have no idea how to add something to a sprint or even flag to you that I've made an issue without directly tagging you.

[2018-08-09 14:34] jodihir commented on #83
Quick Start Table is also missing some information. Please fill in when available.

[2018-08-09 14:34] kozbo commented on #5
Where will we document search examples?  The CLI APIs will be documented via #90 (the dependency), and the Quick Start guide on #52 will cover searching with the Browser. So we will still need to create some examples here.

[2018-08-09 15:17] jodihir commented on #15
Moving to backlog for now.

[2018-08-09 21:49] theathorn opened #84 "About: Overview: Explore applications link broken"
Get a"page not found" for the link to https://dev.data.humancellatlas.org/about/analyze/portals/visualization-portals

It perhaps should be https://dev.data.humancellatlas.org/analyze/portals/visualization-portals ?

[2018-08-09 21:55] theathorn opened #85 "About: Roadmap"
Implement page content

[2018-08-09 22:03] theathorn opened #86 "Contribute: Overview: links at bottom of page are not functional"
The "Read more" links under "Prepare metadata" and "Upload data" just refer back to the current overview page.

"Browse data" under "See and share" gets a "Your connection is not private" message linking to https://explore.dev.data.humancellatlas.org/.
In this instance it should be https://dev.explore.data.humancellatlas.org/ and similarly for the integration and staging environments.

[2018-08-09 23:55] theathorn opened #87 "Develop: Development Guides: Tertiary Portal Development Guide"
Needs implementation.

[2018-08-10 00:15] theathorn opened #88 "Learn: User Guides: Contributing Data"
Implement "Contributing Data" and sub-section "Submitting Project Data".

[2018-08-10 00:37] theathorn opened #89 "Analyze: Portals: About Visualization Portals: contains broken link"
The "Start analyzing Human Cell Atlas" link returns a page not found error.

[2018-08-10 00:39] theathorn opened #90 "Analyze: Methods: About Methods: invalid tertiary analysis link"
Link is to https://putalinkhere.com/what-is-tertiary-analysis

[2018-08-10 00:47] theathorn opened #91 "Learn: User Guides: Secondary Analysis: broken links"
"Pipeline Development" and "Contributing a pipeline to the HCA DCP" links both return "page not found" errors.

[2018-08-10 00:56] theathorn opened #92 "Learn: User Guides: Secondary Analysis: broken links"
"See this picard issue" and "Jaitin et al." both point to the same parent page and clicking either link takes you to the home page.
Also the grammar needs fixing as "See" is capitalized and runs on from the preceding sentence.

[2018-08-10 01:02] theathorn opened #93 "Learn: User Guides: Pipeline Portability: broken link"
"GA4GH" links returns "page not found"

[2018-08-10 01:07] theathorn opened #94 "Develop: Development Guides: Overview"
Overview section needs expanding (e.g. remove/replace "Yo I am subtitle").

[2018-08-10 13:45] malloryfreeberg commented on #88
There will not be a "Submitting Project Data" subsection here. All the relevant information will be under the "Contribute" section, not the "Learn" section.

[2018-08-10 15:11] NoopDog commented on #88
Remove the sub page "Submitting Project Data"

[2018-08-10 15:25] #76 closed

[2018-08-10 15:33] malloryfreeberg commented on #22
Probably Develop -> Development Guides -> Tertiary Portal Development Guide?

[2018-08-10 15:36] malloryfreeberg commented on #90
About Methods
Methods for Human Cell Atlas are tools for **tertiary analysis** involving scRNA-seq, scDNA-seq, in situ transcriptomics, multi-modal and other computational biology approaches. This registry lists packages for such methods.

[2018-08-10 15:42] malloryfreeberg commented on #89
**Start analyzing Human Cell Atlas** today! Simply click the "View" button beside a portal summary to navigate. You can also seamlessly load your dataset of interest by clicking the "Use with HCA Data" link for enabled portals.

[2018-08-10 15:42] #29 closed

[2018-08-10 15:42] #88 closed

[2018-08-10 15:49] #65 closed

[2018-08-10 16:39] jodihir opened #95 "Write a blurb about Pipeline Development Guides"
https://dev.data.humancellatlas.org/develop/development-guides/development-guides-overview

[2018-08-10 16:59] jodihir opened #96 "Write a short blurb about Tertiary Portal Development guides for the Develop section"
# Definition of Done
A sentence or two that introduces users to the Tertiary Portal Development Guides, for this overview page:
https://dev.data.humancellatlas.org/develop/development-guides/development-guides-overview

[2018-08-10 17:32] jodihir opened #97 "Change wording of menu items on Learn User Guides page"
# Why
We want to try changing the wording "secondary analysis" to "Data Processing Pipelines" and "Tertiary Analysis" to "Analysis Applications". Let's start by just making the change on this one page and getting feedback from the content team at our next meeting:
https://dev.data.humancellatlas.org/learn/userguides/accessing-data

[2018-08-10 20:06] vickylihorst commented on #96
@jodihir how does this ticket differ from #87?

[2018-08-10 20:28] jodihir commented on #96
@vickylihorst ticket #87 is for a guide meant to contain detailed instructions for portal builders; it will be on this page: https://dev.data.humancellatlas.org/develop/development-guides/tertiary-portal-development-guide

The short blurb (ticket 96) goes on the proceeding page and is just meant to give users a quick overview of the content produced for ticket 96. It should just be 1-3 sentences.

[2018-08-10 20:50] jodihir commented on #91
I think this is all set

[2018-08-10 20:58] jodihir commented on #92
This document needs work and links will get fixed as we make improvements to the content.

[2018-08-10 20:59] jodihir commented on #93
link fixed

[2018-08-14 16:26] jodihir commented on #28
Closing this for now because the content has been copied in to the DCP style guide for use later.  When we decide to use it on a page about our values we can create a new ticket to develop that page.

[2018-08-14 16:26] #28 closed

[2018-08-14 21:02] TimothyTickle commented on #22
https://github.com/HumanCellAtlas/data-portal-content/pull/100

[2018-08-14 21:04] TimothyTickle commented on #87
Reviewed by the Red Box community. This is a draft and has some TBD links.

https://github.com/HumanCellAtlas/data-portal-content/pull/99

[2018-08-14 21:28] TimothyTickle opened #101 "Templated Registry Submissions"
# Why
As a methodologist or artist, I would like to be able to submit a visualization or methodology to be listed in the methods registry

# Definition of Done
 - When the "submit your package" link on https://dev.data.humancellatlas.org/analyze/methods/about is clicked a templated submission is started for a methology submission.
- When the "submit your package" link on https://dev.data.humancell

[2018-08-14 22:05] TimothyTickle commented on #89
The link should be targeting https://dev.data.humancellatlas.org/analyze/portals/visualization-portals .

[2018-08-14 22:10] TimothyTickle commented on #90
I believe the link target should be : https://dev.data.humancellatlas.org/learn/userguides/tertiary-analysis

[2018-08-14 22:12] TimothyTickle commented on #90
Updated in PR https://github.com/HumanCellAtlas/data-portal-content/pull/102

[2018-08-14 22:12] TimothyTickle commented on #89
Updated in PR https://github.com/HumanCellAtlas/data-portal-content/pull/102

[2018-08-14 22:28] TimothyTickle commented on #63
Stubbed out a page describing what the page will grow into and described tertiary analysis a little bit.

https://github.com/HumanCellAtlas/data-portal-content/pull/103

[2018-08-15 17:29] TimothyTickle commented on #63
Updated given comments, new PR https://github.com/HumanCellAtlas/data-portal-content/pull/104

[2018-08-15 22:54] #35 closed

[2018-08-16 14:06] jodihir commented on #96
Content for this is here: https://github.com/HumanCellAtlas/data-portal-content/blob/master/content/develop/development-guides/development-guides-overview.md

[2018-08-16 14:45] jodihir commented on #97
Closing this but will open a new ticket when we determine whether to implement this change.

[2018-08-16 14:45] #97 closed

[2018-08-16 14:47] #79 closed

[2018-08-16 14:48] #30 closed

[2018-08-16 14:49] #36 closed

[2018-08-16 14:54] #91 closed

[2018-08-16 14:55] #93 closed

[2018-08-17 14:31] jodihir commented on #101
Notes on this request for @NoopDog:
Users will submit details on their method or visualization entries, so we need templates into wich they can add those details.  Template should come up with they click on "submit your package".
Once they've entered everything, can we add a link to the details below the "view" button on this page: https://dev.data.humancellatlas.org/analyze/visualization-componen

[2018-08-17 14:39] #92 closed

[2018-08-17 14:41] jodihir commented on #82
Closing - there is another ticket for this - sorry for the duplication

[2018-08-17 14:41] #82 closed

[2018-08-17 15:14] kozbo commented on #54
Do not remove!
Change to "Quick Start Guide" and move to top of the list on the left hand navigation menu.

[2018-08-17 15:28] kozbo opened #106 "Style Guide"
# Why
Content writers can easily access the style guidelines.

# Definition of Done
Add this style guide: https://docs.google.com/document/d/1xzUXnozewMhmePqYmFzfFpwoI-UdZd6ds3EFx1Cq7EQ/edit
 to the Content Guide section: https://dev.data.humancellatlas.org/document/creating-content/editing-an-existing-page/

[2018-08-17 15:42] vickylihorst commented on #96
closing per @jodihir as we are all set.

[2018-08-17 15:42] #96 closed

[2018-08-17 15:43] #22 closed

[2018-08-17 15:59] NoopDog commented on #89
Ok thanks this is fixed. Closing

[2018-08-17 15:59] #89 closed

[2018-08-17 16:11] jodihir commented on #61
At the meeting we decided that @NoopDog will change the last line to:
"Please contact us to discuss submitting your cellular resolution data."

[2018-08-17 16:35] NoopDog commented on #61
HI @jodihir this is done shall we close this ticket?
https://dev.data.humancellatlas.org/contribute/overview/overview

Cheers,
D

[2018-08-17 16:46] NoopDog commented on #87
Tim the draft is merged. Looks like some links need to be updated. Thx.

[2018-08-17 16:47] NoopDog commented on #95
@jodihir I have shortened the blurbs to fit in the space and updated them here:
https://dev.data.humancellatlas.org/develop/development-guides/development-guides-overview

[2018-08-17 16:47] #61 closed

[2018-08-17 16:49] #34 closed

[2018-08-17 16:50] #84 closed

[2018-08-17 16:51] #48 closed

[2018-08-17 16:52] NoopDog commented on #49
Ok moving this back to review column as it seems we are not sure its done.

[2018-08-17 17:38] jodihir commented on #95
That's close - I just need to tweak it a little to the following:
Pipeline Development Guides:
Resources and best practices, including using our portability service to test your pipeline and execution environment.

Tertiary Portal Development Guides:
Technical resources to support your development and integration of analysis applications

[2018-08-17 17:56] jodihir commented on #106
Do this by linking to the READMe in the Data Portal Content repo: https://github.com/HumanCellAtlas/data-portal-content/

[2018-08-17 23:38] jodihir commented on #95
OK all set - thanks for letting me know how this is done (I didn't realize they're subtitles).

[2018-08-17 23:38] #95 closed

[2018-08-19 05:34] NoopDog opened #108 "Add Apache 2.0 License to GH Repo"

[2018-08-19 06:08] NoopDog commented on #106
@jodihir let me know when this is ready to include in the content guide. Thx

[2018-08-20 16:24] theathorn opened #109 "Contribute: What to Prepare: HCA terms and conditions"
# Why
The "HCA terms and conditions" links needs to refer to an actual T&C page rather than take the user back to the Home Page.

# Definition of Done
- [ ] Populate page with T&C text

[2018-08-20 20:09] vickylihorst commented on #63
closing per @jodihir

[2018-08-20 20:09] #63 closed

[2018-08-20 20:12] vickylihorst commented on #87
@TimothyTickle what's the status on the links mentioned in the previous comment? Should we close this ticket?

[2018-08-20 22:56] theathorn commented on #94
Completed.

[2018-08-20 22:56] #94 closed

[2018-08-20 23:03] theathorn commented on #101
@NoopDog to reach out to @TimothyTickle to refine the requirements.

[2018-08-21 23:29] #108 closed

[2018-08-22 03:15] NoopDog commented on #54
Just rename the existing one.

[2018-08-22 08:57] rdgoite opened #110 "Vertical scrollbar in the tabs of the about page"
# Details

## Expected
The tabs in the about page should be flat/fixed.

## Actual
A small scrollbar appears that allows users to scroll through the tab frame/section vertically.

## Setup

This problem exists on both these configurations:
- [Firefox 61 on macOS 10.13](https://whatsmybrowser.org/b/K2UDRK8)
![Firefox 61](https://images.zenhubusercontent.com/5b042c804b5806bc2bd426f0/1b0b9d9d-7a16-4c

[2018-08-22 09:30] NoopDog commented on #110
Thanks!

[2018-08-22 20:02] jodihir commented on #106
I think we can add this now; if you create the stub doc I can add the parts that are clear (most of the doc) and add the rest later when decisions are made.

[2018-08-22 20:15] jodihir opened #112 "change What is the Secondary Analysis Service to Overview of Data Processing Pipelines User Guides"
# Why
The page "what is the secondary analysis service?" became the Overview of Data Processig Pipelines User Guides" so we need to change the URL and hence the sitemap.

https://dev.data.humancellatlas.org/learn/userguides/secondary-analysis/what-is-the-secondary-analysis-service

[2018-08-22 21:48] frano-m commented on #110
@NoopDog I noticed this yesterday and the fix should be in that last PR

[2018-08-22 21:49] frano-m commented on #110
@NoopDog I'll need to confirm if solution fixed for firefox

[2018-08-22 22:58] #54 closed

[2018-08-23 05:32] NoopDog commented on #106
@frano-m can you pease add a doc called content-style-guide.md herehttps://github.com/HumanCellAtlas/data-portal-content/tree/master/content/document/creating-content

Also make this a 2nd level heading under "Content Guide"

So the top bar will be "Creating Content" then "Style Guide"

[2018-08-23 20:10] jodihir commented on #106
I'm putting this in the Done column; it's a dynamic internal doc that we can correct and update as we make new style decisions.

[2018-08-23 23:42] NoopDog commented on #106
@jodihir this is live here https://dev.data.humancellatlas.org/document/creating-content/content-style-guide

Thx
D

[2018-08-23 23:44] NoopDog commented on #112
@jodihir @theathorn this change is live here can you review?
https://dev.data.humancellatlas.org/learn/userguides/data-processing-pipelines/overview-of-data-processing-pipelines-user-guides

[2018-08-23 23:45] NoopDog commented on #110
@rdgoite Hi Rodney, is this looking fixed for you now?

[2018-08-24 08:49] rdgoite commented on #110
I can confirm that this issue is now fixed for both Firefox 61 and Safari 11.

[2018-08-24 08:49] #110 closed

[2018-08-24 14:43] jodihir commented on #26
Closing - ticket not needed.

[2018-08-24 14:43] #26 closed

[2018-08-24 14:43] jodihir commented on #27
Closing - ticket not needed.

[2018-08-24 14:43] #27 closed

[2018-08-24 14:44] jodihir commented on #25
Closed - ticket not needed.

[2018-08-24 14:44] #25 closed

[2018-08-24 15:14] #46 closed

[2018-08-24 15:14] #67 closed

[2018-08-24 15:15] #66 closed

[2018-08-24 15:16] malloryfreeberg commented on #43
This is done except the T&C, which is now issue #109

[2018-08-24 15:16] #43 closed

[2018-08-24 15:25] malloryfreeberg commented on #38
@NoopDog Looks great! Under Learn, can you change the top level title from "Metadata Schema" to "Metadata Standard"? The title that is in the same line as "Overview" and "User Guides".

[2018-08-24 15:27] malloryfreeberg commented on #38
I updated the ticket to reflect the subtasks that still need to be completed.

[2018-08-24 15:39] #106 closed

[2018-08-24 15:42] NoopDog commented on #86
@Dave Rogers the “Prepare metadata” one can point to https://dev.data.humancellatlas.org/contribute/overview/what-to-prepare for now

mallory.freeberg [2 days ago]
The “Upload data” one can point to an SOP we have in GitHub in the dcp-cli repo. The SOP doc isn’t merged up to master, I just put in a PR to do this. When it’s merged, it will be at https://github.com/HumanCellAtlas/dcp-cli/docs/Pilot_

[2018-08-24 16:08] jodihir commented on #47
@malloryfreeberg Please review, especially in terms of whether the paragraph on metadata sounds useful or could be improved.

[2018-08-24 16:54] jodihir opened #113 "update all instances of Secondary Analysis (or Secondary Analysis Service) to Data Processing Pipelines, and Tertiary Analysis to Analysis Applications"
# Why
We want to remove the notion of primary, secondary, tertiary in terms of analysis, and not imply that these are required steps in processing of any data or data type.

# Definition of Done
all instances of "secondary" and "tertiary" in content on the portal and in links is updated. "Secondary Analysis" is updated to "Data processing pipelines" and "tertiary analysis" is updated to "analysis

[2018-08-24 17:42] kozbo opened #114 "Learn: User Guides: Accessing Data: Quick Start Guide"
# Why
As a user I would like to have a simple reference for how to use the system to download data.

# Definition of Done
 - [ ] Describe the three basic ways to use the system to access data
 1. Using the Data Browser to access data
 1. Using the CLI to access data
 1. Using the programming libraries to access data
 - [ ] Link to other access sections
 - [ ] Discuss using the data and link to the

[2018-08-24 17:46] kozbo commented on #11
This menu item no longer exists, so closing ticket. Now covered by #53

[2018-08-24 17:46] #11 closed

[2018-08-24 17:47] kozbo commented on #5
This page no longer exists, so closing. Subject matter is now covered by #53

[2018-08-24 17:47] #5 closed

[2018-08-24 17:48] kozbo commented on #6
This page no longer exists, so closing. Subject matter is now covered by #53

[2018-08-24 17:48] #6 closed

[2018-08-24 17:48] kozbo commented on #10
This page no longer exists, so closing. Subject matter is now covered by #53

[2018-08-24 17:48] #10 closed

[2018-08-24 17:48] kozbo commented on #7
This page no longer exists, so closing. Subject matter is now covered by #53

[2018-08-24 17:48] #7 closed

[2018-08-24 20:45] jodihir commented on #87
@vickylihorst Can you let me know the status of this ticket (or close it if it's ready)?  Thanks!

[2018-08-24 21:58] vickylihorst commented on #87
the PR has been merged. @TimothyTickle can we close it?

[2018-08-29 03:03] NoopDog opened #116 "Update Page URL on Page and in Sitemap"
From Jodi:

This link still has secondary analysis in it: https://dev.data.humancellatlas.org/learn/userguides/data-processing-pipelines/secondary-analsis-workflow-best-practices.  I changed the title to Best Practices for Building Data Processing Pipelines, so can you change that link?

[2018-08-31 15:08] #116 closed

[2018-08-31 15:13] kozbo commented on #47
@malloryfreeberg Please review

[2018-08-31 15:16] #49 closed

[2018-08-31 15:17] kozbo opened #118 "Contribute: Overview: Terms and Conditions"
This page needs content https://dev.data.humancellatlas.org/contribute/overview/terms-and-conditions

[2018-08-31 15:18] #86 closed

[2018-08-31 15:36] kozbo commented on #113
Keep looking this week, will close Sept 7 if no more are found

[2018-08-31 15:55] kozbo commented on #55
@NoopDog  Please remove this page

[2018-08-31 16:34] jodihir commented on #101
@NoopDog will reach out to @eweitz about this ticket this week as time permits (Tim and Vicky are out of town.)

[2018-08-31 21:18] #51 closed

[2018-09-03 09:57] malloryfreeberg commented on #47
I don't actually see where there is a PR for this issue, so I'm going to leave my review here. Happy to make the PR is someone isn't already working on it, though. Please let me know.

1.

    Would replace with:

1.

    The email address doesn't appear to be a link in the text. It should be a `mailto:` link. Also, I would replace the exclamation point with a full stop.

1. What is the purpose of

[2018-09-04 11:35] jodihir commented on #47
Thanks for reviewing this @malloryfreeberg!  I'll make these changes.

[2018-09-04 18:45] jodihir commented on #47
@NoopDog Can you remove the Data Lifecycle and Data Use Agreement sections at the bottom of this page?

[2018-09-04 23:26] #47 closed

[2018-09-04 23:27] #55 closed

[2018-09-05 11:10] NoopDog commented on #47
@jodihir the teaser docs have been removed from the Learn/Overview. Let me know if this looks ok.

https://dev.data.humancellatlas.org/learn/overview/overview

Cheers,
D

[2018-09-05 13:54] jodihir commented on #47
Looks good to me. Maybe I'll add a teaser sentence at the end of the Overview that points people to those links we removed.

[2018-09-07 15:09] jodihir commented on #52
@NoopDog Please remove stub doc for this

[2018-09-07 15:29] #109 closed

[2018-09-07 16:10] theathorn commented on #8
All issues resolved.

[2018-09-07 16:10] #8 closed

[2018-09-07 19:19] jodihir commented on #57
@mckinsel Tim said that you have information about the file formats now. Here is the empty stub doc and you can just put the information there. Feel free to add it in any way you have time (eg: a rough bulleted list)- I can edit/write it up after and you can do a review of that. Whatever works.. Thanks!

[2018-09-07 19:42] jodihir opened #130 "Determine the layout for the Development Guides Overview page and order the menu on the left"
# Why
Is this layout the one we want to use and if so, we need to add the other guides to it.

https://dev.data.humancellatlas.org/develop/development-guides/development-guides-overview
Also, let's update the order of the pages on the left, creating sections.

[2018-09-07 20:02] jodihir commented on #101
@NoopDog, Tim is back so please reach out to him to finish up this ticket.

[2018-09-07 20:17] jodihir commented on #87
Completed; closing this.  The Coming Soon links have been made into separate tickets.

[2018-09-07 20:17] #87 closed

[2018-09-07 20:21] jodihir opened #131 "Matrix Service Description and Swagger"
The Portal Development Guilde says the following:
Matrix Service Description - Coming Soon
Matrix service swagger - Coming Soon

Please draft the docs/links for these, or give the content team the information so we can write them.

@theathorn, Can you assign the appropriate person to this ticket?

[2018-09-07 20:27] jodihir opened #133 "Instructions for Listing methods in the Registry"
The Portal Development Guide section (https://dev.data.humancellatlas.org/develop/development-guides/tertiary-portal-development-guide/)  "List your solution in the registry" says:

Instructions - Coming Soon

@TimothyTickle
Please write the instructions when ready or assign this to the right person.

[2018-09-07 20:41] jodihir commented on #113
@NoopDog
1. The About section re-write of the secondary analysis page is in master now, so please change the Secondary Analysis menu item (https://dev.data.humancellatlas.org/about/what-is-the-platform/what-is-the-platform)  to Data Processing Pipelines.

2. In the Develop sections, please change the menu item  "Tertiary Portal Development Guide" to "Analysis Applications"
Thanks!

[2018-09-07 20:43] jodihir commented on #58
Incorporate Dave S's suggestions.

[2018-09-11 19:07] theathorn commented on #53
See #90 "Read the Docs".

[2018-09-11 19:14] jodihir opened #134 "Move Best Practices from Learn to Develop"
Please move the Workflow Best Practices doc from the Userguides section in Learn to the Development Guides section in Develop.  This is the doc:
https://github.com/HumanCellAtlas/data-portal-content/blob/master/content/learn/userguides/data-processing-pipelines/workflow-best-practices.md

(If I can just do this by changing the Path please let me know.)

[2018-09-11 19:37] jodihir opened #135 "Creat an Overview section for Develop"
To be consistent with the Learn and Contribute sections, Develop should have an Overview page, as a horizontal tab,  that talks about the entire section.  Can you create this stub doc and tab?

[2018-09-13 03:06] NoopDog commented on #130
@jodihir this is updated here for your review. Can you add the relevant subTitles to fill out the text? thanks!
https://dev.data.humancellatlas.org/develop/development-guides/development-guides-overview

[2018-09-13 18:54] malloryfreeberg commented on #38
This month (September) the metadata team will be doing a review of our repo docs in preparation for the closed beta. These updates should be reflected in the Portal.

[2018-09-14 00:13] theathorn opened #137 "Add text to Pipeline Processing Development Guides"
https://dev.data.humancellatlas.org/develop/development-guides/pipeline-processing-development-guides/overview-pipeline-processing-development-guides

Also add subtitle to https://dev.data.humancellatlas.org/develop/development-guides/development-guides-overview

[2018-09-14 14:48] jodihir commented on #131
Closing this ticket - we'll need to get coordinated about the different sections that say "coming soon" and should do as a single ticket

[2018-09-14 14:48] #131 closed

[2018-09-14 15:47] #134 closed

[2018-09-14 15:48] kozbo commented on #135
Close, we decided we don't need an overview section here.

[2018-09-14 15:48] #135 closed

[2018-09-14 15:50] kozbo commented on #33
We see content here that seems sufficient, closing

[2018-09-14 15:50] #33 closed

[2018-09-14 16:19] jodihir commented on #130
OK, this seems fine to leave as is.

One last thing about the left menu, can you move "Ingest Data Brokers Development Guide" so that it's below the "Overview" and above "Pipeline Processing Development Guides" . Thanks.

[2018-09-14 16:37] jodihir commented on #133
@TimothyTickle I've assigned this to you for now.

[2018-09-17 15:03] #137 closed

[2018-09-17 15:09] jodihir commented on #113
@NoopDog (This is the same comment as from Sept 7 above)
1. About section: please change the Secondary Analysis menu item (https://dev.data.humancellatlas.org/about/what-is-the-platform/what-is-the-platform) to Data Processing Pipelines.
2. Develop sections, please change the menu item "Tertiary Portal Development Guide" to "Analysis Applications"
Thanks!

[2018-09-18 06:01] frano-m commented on #113
Hi @jodihir

Listed below are markdown files with secondary or tertiary mentioned (some are href links that need updating):

`/about/what-is-the-platform/data-processing-pipelines.md` (3x secondary)
`/about/what-is-the-platform/data-store.md` (1x secondary, 1x tertiary)
`/contribute/what-to-prepare.md` (1x secondary) <-- this page not live
`/develop/development-guides/pipeline-processing-developme

[2018-09-18 14:32] jodihir commented on #113
Hi @frano-m, Thanks very much! I will go through this list and fix instances that are in the text.  I assume that you and Dave will update the links, but let me know if I need to do something about those.

[2018-09-18 15:17] NoopDog commented on #113
yes we will update the links. Thx

[2018-09-19 00:07] NoopDog commented on #113
@jodihir Hi, I misspoke, can  you update the internal links please as we are not sure which page they are supposed to. Please reach out to me on slack if want to discuss.

[2018-09-20 17:21] adriennes opened #139 "Add details to "Download via CLI" user guide"
# Why
As a user I would like to use the CLI to download data from my manifest

# Definition of Done
 - [ ] Add instructions for non Mac OS
 - [ ] Add instructions for specifying download location

[2018-09-20 17:23] adriennes opened #140 "Add text to Analyze page explaining relationship between portals and DCP data"
# Why
As a user I would like to use the Analyze portals to analyze DCP data

# Definition of Done
 - [ ] Clearly explain what the relationship is between the portals and data, set user expectations

[2018-09-20 17:25] adriennes opened #141 "Edit/clarify names of Analyze tabs"
# Why
As a user I would like to understand the differences between the tabs in Analyze section

# Definition of Done
 - [ ] Rename tabs (Portals, Methods, Visualization components) to be more intuitive
- [ ] Add one sentence on each landing page summarizing what those tools/portals are

[2018-09-20 20:08] jodihir commented on #113
optimistically moving this to done...but (pessimistically) not closing the ticket..

[2018-09-21 15:14] #45 closed

[2018-09-21 15:45] jodihir commented on #101
@NoopDog will schedule a call with @TimothyTickle and @eweitz to discuss requirements and how to move forward

[2018-09-27 16:44] #113 closed

[2018-09-27 21:04] #15 closed

[2018-09-27 21:06] #130 closed

[2018-09-27 22:53] #118 closed

[2018-09-27 22:53] theathorn commented on #118
Removed.

[2018-09-28 15:08] theathorn commented on #38
@malloryfreeberg Has the review completed and can this ticket be closed? We should open new tickets fur further refinements.

[2018-09-28 15:11] theathorn commented on #57
First draft in final review by @TimothyTickle

[2018-09-28 15:11] theathorn commented on #83
@TimothyTickle will review.

[2018-09-28 15:13] theathorn commented on #69
@rdgoite what is ETA for this? The current page just has a short intro.

[2018-09-28 15:30] tburdett commented on #69
Thanks for the ping @theathorn. Have you got a timeframe in mind for this? Is it OK if we put this into our next sprint (starting Tuesday 2nd)?

[2018-09-28 15:33] theathorn commented on #141
@adriennes Do you have specific suggestions on which terms are more appropriate?

[2018-09-28 15:36] jodihir opened #142 "Update Development Guides Overview"
https://dev.data.humancellatlas.org/develop/development-guides/development-guides-overview
# Definition of Done

Ingest Broker and Data Processing sections need blurbs

[2018-09-28 16:16] theathorn commented on #69
@tburdett That sounds fine. We're targeting to have something ready by the end of October for the Closed Beta.

[2018-09-28 16:45] malloryfreeberg commented on #38
Yes, this ticket it done. I am closing it.

[2018-09-28 16:45] #38 closed

[2018-10-01 02:32] NoopDog opened #143 "Create Mockup for GDPR/Terms and Conditions"

[2018-10-01 02:34] NoopDog commented on #143
Wrong Repo

[2018-10-01 02:34] #143 closed

[2018-10-03 13:46] jodihir commented on #101
@NoopDog were you able to schedule a call with Tim?  They are ready any time you are to work on this.

[2018-10-03 20:15] jodihir commented on #142
@NoopDog I'm not sure how to add a new subtitle to the Pipeline Processing Development Guides section using our CMS.  Can you please replace the subtitle there with this wording:

 Information and resources to help you produce and optimize single cell data processing pipelines.

[2018-10-03 20:17] #57 closed

[2018-10-04 15:33] jodihir opened #144 "write documentation for Cell Ranger-adapted pipeline"
The MINT team has developed a version of the 3 prime 10X Cell Ranger pipeline to use with 3 prime data.  This will not be an approved HCA pipeline, but it will be available to users.
1. Jodi will write the documentation needed.
2. We should to decide how to indicate it's not HCA approved (some kind of tag?) and whether to put it in our standard User Guides documentation. This isn't the first pipel

[2018-10-04 15:44] jodihir commented on #83
We are at a point where final updates can be made to this doc in time for the closed beta.  These updates are in progress.

[2018-10-04 17:22] NoopDog opened #145 "Create Production Data Portal Environment"

[2018-10-04 21:29] eweitz commented on #101
I'll need a way to provide a URL that comprises the href value in a button link.

One button would be for methods and appear at left in: https://dev.data.humancellatlas.org/analyze/methods/methods.

One button would be for visualization components and appear at left in: https://dev.data.humancellatlas.org/analyze/visualization-components/visualization-components/.

[2018-10-04 21:31] eweitz opened #146 "Implement analyze detail pages"
# Why
As a user I would like to add Markdown so I can create a detail page for a package (method or visualization component)

# Definition of Done
 - [ ] Stub doc for first package detail page

[2018-10-05 18:33] #142 closed

[2018-10-08 16:47] #39 closed

[2018-10-09 23:28] NoopDog commented on #146
@eweitz Which visualization should be the first one for a detail page?

[2018-10-10 13:15] eweitz commented on #146
@NoopDog, let's do Anatomogram.

[2018-10-10 14:08] jodihir opened #148 "restore underscores (rather than italics) in QC metrics doc"
@NoopDog
https://dev.data.humancellatlas.org/learn/userguides/data-processing-pipelines/qc-mertics

The QC metrics page in the Optimus Prime 10X v2 tables, underscores in the (left column) metric names have been replaced by italics in most of the rows.  When I typed the Markdown and checked in Preview, the underscores were (and are) there. But after committing they become italics.  Can you fix tha

[2018-10-10 18:33] jodihir commented on #114
@kozbo
1. Generalize the High Sierra example for installation fo the CLI to other systems?
2. In the Downloading a Data Manifest section, there's a switch from using the data browser to using command line, at line 39.  Should this be a new section? (It seems like the user is now using the CLI, but the CLI section starts later at line 49 in the editor)

[2018-10-11 00:23] NoopDog opened #149 "Click through to from organ or graphs is broken by the change to the url structure"

[2018-10-12 02:11] NoopDog commented on #101
@eweitz can you update this ticket please with the pull request template you are looking for? Maybe add it to the definition of done above.  Thanks!

[2018-10-12 15:22] gabsie opened #150 "Contribute section - UX review"
# Why
As a data contributor I would like to include my data in the HCA, so that I am part of this international effort. For that reason, I want to know:

- if my data is suitable
- what the requirements are
- what I need to do next
- when I will see it on HCA

# Definition of Done
 - When a contributor has a clear path of contribution of data to the HCA.

[2018-10-12 15:32] gabsie opened #151 "Metadata Standards - UX review"
# Why
As a data user and contributor I would like to discover and have a clear idea on metadata attributes that HCA uses, so I know how to interpret the data I use and use the right terms for data I contribute.

# Definition of Done
 - When users can easily find and make sense of the metadata attributes.

[2018-10-12 15:51] jodihir opened #152 "Change "Metadata Standards" tab name to just "Metadata""
In the Learn section, remove the word "standards" from the "Metadata Standards" tab so it just says "Metadata".

[2018-10-12 16:20] theathorn opened #153 "About:What is the Platform:Standards - link for Metadata is broken"
Go to https://dev.data.humancellatlas.org/about/what-is-the-platform/what-is-the-platform and click on teh "Metadata" link under "Standards" at the bottom of the page.

The link takes you to https://dev.data.humancellatlas.org/learn/metadata-dictionary/metadata-dictionary but it should be https://dev.data.humancellatlas.org/learn/metadata-standards/metadata-dictionary.

[2018-10-12 16:47] theathorn commented on #152
I raised this as https://app.zenhub.com/workspace/o/humancellatlas/data-portal/issues/271.
I think it's a portal rather than a content issue.

[2018-10-12 16:56] theathorn commented on #148
Dave, can you take a look at this?

[2018-10-12 17:31] NoopDog commented on #148
Yes will take a look. Thanks.

[2018-10-12 17:36] NoopDog commented on #152
Thanks we should adjust the URLS as well.

[2018-10-15 04:17] frano-m commented on #148
Restored use of underscores by adding a back tick around the text e.g.

[code]

[2018-10-15 14:50] jodihir opened #154 "create new stub doc: Community pipeline: 3’ scRNA-seq"
I need to add a new page of documentation to the Data Processing Pipelines section of the Learn Userguides.

The title of the doc should be: Community Pipeline: 3' scRNA-seq

(if the prime symbol after 3 is a problem, we can write out "prime".)

[2018-10-15 14:56] jodihir opened #155 "re-oder the documentation in the Data Processing Pipelines section of Learn Userguides"
Please change the order of the guides in the Data Processing Pipelines Menu on the left to this:

Smart-seq2 Workflow
Optimus Prime Workflow
File Formats
QC Metrics
Pipeline Portability
Community Pipeline: 3' scRNA-seq  (new doc, see ticket)

Also, can you remove the words "in detail" from the titles of the Smart-seq2 and Optimus Prime Workflow docs?  It's not necessary and it might mislead some u

[2018-10-15 18:43] adriennes commented on #141
@TimothyTickle  - How can we clarify the names of the "Portals", "Methods", and "Visualization Components" sections here?

Some thoughts:
- Are the "Portals" all for visualization? Some are analysis only, right? So perhaps we should be consistent in calling these just "portals" or "Analysis portals"? (within the tab, it currently says "Visualization Portals").
- "Methods" and "Visualization compon

[2018-10-15 18:55] NoopDog commented on #148
@jodihir this is ready to review.

[2018-10-15 19:07] NoopDog commented on #152
@jodihir this is ready to review

[2018-10-15 20:03] jodihir commented on #148
looks good, thanks!

[2018-10-15 20:09] jodihir commented on #152
Looks good to me.

[2018-10-15 20:47] jodihir opened #156 "a few links to fix in metadata pages and other questions"
Fix links in:
1. Process type entry of metadata, under Analysis process:
https://dev.data.humancellatlas.org/learn/metadata/metadata-dictionary/process

2. Protocol type entry in Analysis protocol section:
https://dev.data.humancellatlas.org/learn/metadata/metadata-dictionary/protocol

3. Microscopy technique entry in Imaging Protocol section:
https://dev.data.humancellatlas.org/learn/metadata/met

[2018-10-15 22:27] #152 closed

[2018-10-15 22:28] #153 closed

[2018-10-15 22:28] #149 closed

[2018-10-16 13:10] jodihir opened #157 "Broken link on bottom of home page"
Link for "Learn about pipelines" is broken.

It should go to this page:
https://dev.data.humancellatlas.org/learn/userguides/data-processing-pipelines/overview-of-data-processing-pipelines-user-guides

[2018-10-16 13:18] jodihir opened #158 "Broken link on bottom of About Overview page"
Explore Applications link at the bottom of this page seems to be broken:
https://dev.data.humancellatlas.org/about/overview/overview/

It should go here:
https://dev.data.humancellatlas.org/analyze/portals/visualization-portals

Just noting that the links at the bottom of the About Overview should be the same as those at the bottom of the home page (same graphics on these 2 pages)

[2018-10-17 06:08] NoopDog commented on #154
@jodi the stub is here

https://dev.data.humancellatlas.org/learn/userguides/data-processing-pipelines/community-pipeline-3-prime-scrna-seq

[2018-10-17 06:09] NoopDog commented on #155
@jodihir ready to review

[2018-10-17 06:09] NoopDog commented on #157
@jodihir ready to review.

[2018-10-17 06:10] NoopDog commented on #158
@jodihir ready to review.

[2018-10-17 06:10] NoopDog commented on #156
@jodihir ready to review.

[2018-10-17 10:03] malloryfreeberg commented on #156
LGTM!

[2018-10-17 21:12] kozbo opened #161 "Should we remove the "Using the CLI to Access Data" section?"
@kozbo commented on [Wed Oct 17 2018](https://github.com/HumanCellAtlas/dcp/issues/178)

This  section is redundant to the Quick Start Guide section, at least until we get the reprocessed Read The Docs pages.

[2018-10-18 01:08] jodihir commented on #144
done

[2018-10-18 01:08] #144 closed

[2018-10-18 16:53] jodihir opened #162 "URLs to fix on Overview of Metadata Structure page"
1. https://dev.data.humancellatlas.org/learn/metadata/structure
Specifying schema URLs in Table of Contents doesn't go anywhere

2. https://dev.data.humancellatlas.org/learn/metadata/structure
"schema URL structure" in What is in this document? section doesn't seem to go anywhere

3. "principles" link in What isn't in this document? section is broken

[2018-10-18 17:36] jodihir opened #163 "broken links"
https://dev.data.humancellatlas.org/learn/userguides/data-processing-pipelines/overview-of-data-processing-pipelines-user-guides

On the Overview of Pipeline User Guides I replaced the full links with relative links, in preparation for moving to production later.  The relative links don't work but I left them there for now.  Can you let me know what is the right structure for them?

[2018-10-18 19:42] jodihir opened #164 ""Data Processing Pipelines" : Internal links are not working (404 error)"
https://dev.data.humancellatlas.org/about/what-is-the-platform/data-processing-pipelines/

There are internal links each row of the table that don't work in the dev site. Here how they're formatted:

Read more about the pipeline [here](/learn/userguides/data-processing-pipelines/smart-seq2-workflow-in-detail).

[Read more](/learn/userguides/data-processing-pipelines/optimus-prime-workflow-in-detai

[2018-10-18 20:04] theathorn commented on #162
2. link is https://staging.data.humancellatlas.org/learn/metadata/structure#specifying-schema-urls

[2018-10-18 20:53] jodihir commented on #24
I've gone through all but the Develop section, which will be next; I'm making tickets to address more urgent issues.

[2018-10-19 14:03] gabsie commented on #150
I have revised the text, while using the same message.
I am pasting it first here for review (by data wranglers, Laura).
https://docs.google.com/document/d/1dtoHcMTvPZQBWq9RB954G4gXB4wFQNMoGtQauO2Frag/edit?usp=sharing

What I have done:

 - moved all content to only one page
 - suggest to remove the funny styling at the top, and be more in line with the rest of the pages
 - shortened the text to d

[2018-10-19 15:28] adriennes opened #165 "Help/FAQs need to be reviewed to better reflect content in user guides"
# Why
As a user I would like to understand where documentation exists

# Definition of Done
 Update and review FAQs; make sure they reflect recent Zendesk questions from Preview Site

[2018-10-19 15:38] jodihir commented on #165
HI @adriennes
Can you review these things in the FAQ:
1. The second question about the kind of data in the HCA is a little confusing. This sentence "In the future, we will offer data releases that contain only healthy human samples." doesn't seems consistent with the sentence before it.
2. The link for the data use agreement goes to a page with no content. I think that's an old Terms and Condition

[2018-10-23 12:57] malloryfreeberg commented on #150
@gabsie So do you want to remove the "What to Prepare" subsection from the left navigation panel? And have all the text from the linked document on the Contribute > Overview page?

[2018-10-23 15:18] gabsie commented on #150
yes, that makes sense. But I do want to check with Dave about styles that can accommodate some of my priority action points.

[2018-10-23 15:22] malloryfreeberg commented on #150
Here is the [PR](https://github.com/HumanCellAtlas/data-portal/issues/273) to update the structural stuff.

Here is the [PR](https://github.com/HumanCellAtlas/data-portal-content/pull/166) to update the content stuff.

[2018-10-23 17:26] jodihir opened #167 "Ingest blurb for Develop Overview page"
Please add a one or two-sentence blurb about the ingest broker development guide for the Develop Overview page here:  https://dev.data.humancellatlas.org/develop/development-guides/development-guides-overview

Content should be put on this page in the Subtitle section at the top, where it says "Insert subtitle here":
https://github.com/HumanCellAtlas/data-portal-content/blob/master/content/develop

[2018-10-25 07:57] NoopDog commented on #150
@malloryfreeberg @gabsie @claymfischer @lauraclarke the updates from above are implemented here https://dev.data.humancellatlas.org/contribute/overview/overview

[2018-10-25 18:22] jodihir opened #169 "Updates needed on the Analysis Applications page of the Data Portal"
For this page: https://dev.data.humancellatlas.org/learn/development-guides/analysis-applications

1. In the Working with Ingest section it says:
"This does require authentication and would require contacting the ingest team."  Include some instruction about how to do that and what the ingest team needs to know.

2. The sections about Matrix Service, Hand-off, and Registry at the end say that inst

[2018-10-25 20:18] jodihir commented on #24
All pages reviewed as of 10-25-18. Closing ticket (moving forward we can make individual tickets for page improvements when needed).

[2018-10-25 20:18] #24 closed

[2018-10-25 20:23] jodihir opened #170 "Highlight matrix service API"
Now that the Request Expression Matrix button is on the browser, we can add some explanation of the matrix service to the user guides

[2018-10-25 23:05] theathorn commented on #150
Related to: https://app.zenhub.com/workspace/o/humancellatlas/data-portal/issues/273

[2018-10-26 02:02] NoopDog opened #171 "Limit the titles in the left nav to about 30 characters to keep them from wrapping for ease of reading."
![Screen Shot 2018-10-26 at 11.49.26 AM.png](https://images.zenhubusercontent.com/57323611bf93871ccd9ad094/bc093b98-5e63-49b4-b9cd-c4d886597264)

[2018-10-26 02:53] NoopDog opened #172 "Consider Removing "About Overview" Section as this is fairly redundant with the Home page."
![Screen Shot 2018-10-26 at 12.51.25 PM.png](https://images.zenhubusercontent.com/57323611bf93871ccd9ad094/1f4dbb77-5802-48d9-89e4-8161dd1dbf99)

[2018-10-26 03:07] NoopDog commented on #172
Maybe consolidate with the home page by moving the "Mission" to the bottom of the home page above "Join"

[2018-10-26 05:42] NoopDog opened #173 "Consider renaming "About" to "Platform" and adding to the main navigation in the 2nd Position"
The "About" section has a good overview in the "What is the Platform Section". It discusses the parts of the system and how they interrelate.

However, this content is stuck over on the side under about/what is the platform and I feel is lost there.
Additionally, "about" is usually some foundational fluff with team members etc and usually can safely be ignored.

I would like to recommend to bump t

[2018-10-26 06:34] NoopDog opened #174 "Review content to add line breaks to make paragraphs smaller and add subheadings"
Many of the pages already follow this pattern but I thought it would be a useful exercise to find and update any that don't.

### Smaller Paragraphs
For the web paragraphs need to be quite small to be readable. Even the New York Times has many single sentence paragraphs.  A max of 3 or 4 sentences might be reasonable for us.

### More Subheadings
Additionally, using the smaller subheadings will he

[2018-10-26 08:43] NoopDog commented on #171
I have gone ahead and updated most of the long titles so now the same section as above looks like this:

 ![Screen Shot 2018-10-26 at 6.40.02 PM.png](https://images.zenhubusercontent.com/57323611bf93871ccd9ad094/7475dec9-b4e4-49ae-9229-1bdbbb0f3b49)

We can easily roll back or update any left nav content that need changing.

Cheers,
Dave

[2018-10-26 09:37] NoopDog commented on #164
@jodihir this is ready to review. It was just that the urls were old.

[2018-10-26 09:38] NoopDog commented on #101
Hi @eweitz pinging on the content of the template. Cheers, D

[2018-10-26 11:36] NoopDog opened #175 "Review content to consistently use title caps for content section headers"
We have some pages that use title caps and some that use sentence caps for content headers

Lets prefer:

### Using Title Caps

to

### Using title caps

[2018-10-26 11:40] NoopDog opened #176 "Fix the super long URLs to some of the content pages"
The data content outline is reflected in the URLS so we get some long URLS for pages that are 3 deep in the content and that have sections with long names. Review the URLS for shortening and also see the related ticket to allow short urls for the markdown driven  pages

[2018-10-26 13:49] vickylihorst commented on #101
Hi @NoopDog, thanks for the reminder. We were planning on working on the content of the template starting next sprint (11/1), thinking your schedule would be less crazy given the HCA release.

Does working on providing the content starting 11/1 work for you?

[2018-10-26 14:44] jodihir opened #177 "Finish writing Overview of Accessing Data"
The first paragraph ends in mid-sentence, so please finish:  https://staging.data.humancellatlas.org/learn/userguides/accessing-data

[2018-10-26 14:49] jodihir commented on #175
Thanks @NoopDog! I will fix those as I review, and this is added to the style guide.

[2018-10-26 14:51] jodihir commented on #174
Got it!  This is very helpful @NoopDog:  I will make updates to content (especially mine ;)).

[2018-10-26 14:58] malloryfreeberg commented on #150
Still waiting for icons to be added to the page (portal issue posted above)

[2018-10-26 17:06] NoopDog commented on #150
@malloryfreeberg we can make a single image out of the 4 ions and insert it into the markdown there.

We will also revert this page to use the standard markdown template and not the custom one that the other headings introduced.

We will use the current "tip" style to highlight the "contact us" call to action at the bottom as well.

Cheers,
D

[2018-10-26 18:29] jodihir opened #178 "Re-do the Learn Overview page to look more like Develop Overview"
@NoopDog When you have time, let's figure out how to make this page consistent with the Develop Overview page.  (I can do all the re-wording and you can style the page.)

[2018-10-29 17:09] theathorn commented on #170
Documenting the Matrix Expression Service API would be more appropriate under the Develop section.

[2018-10-29 17:51] jodihir opened #180 "Add a paragraph about the matrix service to the Data Browser page in the Learn/Intro section"
Now that the data browser has an option to request an expression matrix, we should include information about what a user gets when they click that button.  The information can be added to this page:

 https://dev.data.humancellatlas.org/about/what-is-the-platform/data-browser

[2018-10-30 07:51] NoopDog commented on #150
@malloryfreeberg @gabsie we have:

1. Merged the pr.
1. Added made an image of the combined icons and added this to the content.
1. Updated the call to action at the bottom of the page with the "tip" style.
1. Updated all first and 2nd level headers to title caps.
1. Removed the redundant call to action mid document.

I got into a bit of a wrestling match with git trying to merge this so can you p

[2018-10-30 09:55] malloryfreeberg commented on #150
Looks great, @NoopDog !

There are still some incorrect links to dev environment instead of current (staging, in this case) environment

I think these are updates to the content I need to make to use relative instead of absolute paths. I will update that now and make a new PR.

[2018-10-30 13:51] jodihir commented on #169
Contact Ingest and Matrix service to make these updates.

[2018-10-30 14:37] malloryfreeberg commented on #150
I think this is done! @gabsie if you are happy with the [page](https://staging.data.humancellatlas.org/contribute/overview/overview/) now, please close this ticket :)

[2018-10-30 14:38] malloryfreeberg commented on #151
@gabsie are there any specific actions you want take to address this issue?

[2018-10-30 17:33] jodihir commented on #173
I'm fine with that. I'd prefer to see the Platform link first, followed by something like:
Explore Data
Contribute Data
Analysis Tools
Learn
Develop

Down the road we may want to expand this menu to include links to a Forum, Blog, Events,...
I've seen all these topics as top menu items.

We can continue discussing :)..

[2018-10-30 19:35] jodihir commented on #171
@NoopDog, to change these titles in the nav, do I go into the front matter section and change the Title? (I want to shorten some titles in the the pipelines section of Learn guides)

[2018-10-30 21:13] NoopDog commented on #171
@jodihir link menu names are currently edited by us in the sitemap in the portal repo. Can you add the list of names you want changed to this ticket  and we can update them.

[2018-10-30 23:56] #164 closed

[2018-10-30 23:58] #145 closed

[2018-10-31 18:43] theathorn opened #185 ""Contact Us" page contains garbage content"
https://staging.data.humancellatlas.org/contact/contact/contact-us

i am code inside a three
i am inside a one

i am inline code here is code inline.

i am blockquote
with another line

[2018-10-31 19:00] NoopDog commented on #185
@theathorn  this is fixed on all environments thx.
https://dev.data.humancellatlas.org/contact/contact/contact-us

D

[2018-10-31 19:08] #185 closed

[2018-10-31 23:00] #150 closed

[2018-11-02 18:30] jodihir opened #186 "Remove or Hide the Optimus Prime doc in the User Guides"
We don’t have the Optimus pipeline available yet so can you temporarily remove/hide this doc (in the Data Processing Pipelines section of the Learn User Guides) for the time being until the pipeline is ready for use (in a few months)?

Remove this from the left menu so it can't be found. I will search for links in other docs that need to be removed.

[2018-11-05 00:56] NoopDog commented on #186
@jodihir this is ready to review here:
https://staging.data.humancellatlas.org/develop/development-guides/pipeline-processing-development-guides/overview-pipeline-processing-development-guides

Thx,
D

[2018-11-06 14:40] adriennes opened #187 "About - Data Browser"
What is the value of this page?  It seems like a user guide, but should be a quick overview in the About section.  Not sure if this is needed at all.

Also need to update the "Downloading Data" section since it no longer reflects the wording on the Browser

[2018-11-06 14:58] #187 closed

[2018-11-06 15:19] theathorn opened #188 "Updates to the GDPR statement"
Section 4. "Zendesk’s GDPR compliance statement" should be a link to: https://www.zendesk.com/company/customers-partners/eu-data-protection/

[2018-11-06 15:23] matthewspeir opened #189 "Have unique titles for pages in Web Browser tabs"
# Why
As a user, I would like to have multiple pages from the Data Portal open at the same to read multiple pages and not forget what web browser tab is what.

# Definition of Done
 - Pages have unique titles, e.g. 'HCA Data Portal - About Visualization Components'.

[2018-11-06 16:02] lauraclarke commented on #189
Quick note, if you do this put the unique information first e.g "About Visualization Components - HCA Data Portal" as tab titles very rarely put more than the first 15 characters on them so if they all start with HCA Data Portal you still won't have unique names

[2018-11-08 17:13] jodihir opened #190 "Update content of the About section"
Update content based on the comments from the breakout session, here: https://docs.google.com/spreadsheets/d/1cqdKXsRys9yI4jDPQk_78H2YmHgYt3dHmOUUhtpqcjc/edit#gid=1734732196 (comments in rows 1-8)
Also need to review content of Pipelines section with the goal of moving it to Learn.

[2018-11-08 19:43] jodihir opened #191 "Address comments from the breakout session about this page"
A reader suggested some clarification and edits for the Contribute Overview page; see row 18 of this sheet: https://docs.google.com/spreadsheets/d/1cqdKXsRys9yI4jDPQk_78H2YmHgYt3dHmOUUhtpqcjc/edit#gid=1734732196

[2018-11-08 23:18] eweitz commented on #101
@NoopDog, @jlchang, and any others interested in this: please see content in the proposed issue templates in https://github.com/HumanCellAtlas/data-portal-content/pull/192/files.

[2018-11-09 00:39] #186 closed

[2018-11-09 01:32] theathorn commented on #188
2 more changes:
- Change the CZI address in Section 5 to match the one in Section 1:
   900 Middlefield Road, Redwood City, CA 94063, United States
- Use US English throughout. Change organisation* to organization* (9 instances).

[2018-11-13 17:58] jodihir opened #193 "Remove Learn Overview page and use the relevant content for a new page in the About section"
This needs discussion, but as we revisit the scope of the "About " section I propose we move the contents of the Learn Overview to a page in About that describes the portal itself.  This could include short descriptions of how the portal supports:
-Data contribution (Ingest, metadata standard)
-Finding and downloading data (browser, matrix service, CLI)
-Developer services (portability service, gu

[2018-11-13 21:17] jodihir opened #194 "Development Guides Overview page"
left menu titles inconsistent with main panel titles (e.g. "Processing Pipelines" vs "Pipeline Processing.." Drop "Development Guides" from main panel titles and reconcile titles? Drop "your" from "Analysis Applications".

[2018-11-13 21:18] jodihir commented on #194
I'm wondering if we should drop this page like we're thinking about doing with the Learn Overview?

[2018-11-15 00:42] #188 closed

[2018-11-15 23:31] NoopDog commented on #162
Looks like the fragment URLS for

Introduction and Overview are working.
https://staging.data.humancellatlas.org/learn/metadata/structure#introduction
https://staging.data.humancellatlas.org/learn/metadata/structure#structure-overview

The fragment for Specifying Schema URLs is not
https://staging.data.humancellatlas.org/learn/metadata/structure/#specifying-schema-urls

This is because the fragmen

[2018-11-16 00:52] NoopDog opened #195 "Sitemap Updates"
### What problems are we trying to solve?

Now that we have a bit of content developed and are clearer on our content lets take a step back and see how we might improve the organization of the content to improve the organization and discoverability of the documentation. Specifically:

1. We have duplicate content.
1. We have content about the content (e.g. This section will tell you that...)
1. We

[2018-11-16 09:49] malloryfreeberg commented on #195
Could these two sections be combined? In my mind, Docs are a subset of Guides.

[2018-11-16 11:34] NoopDog commented on #195
Hi @malloryfreeberg yes, That one is also on my radar. I added it to a new "Additional Options" section. above. Thanks for the suggestion.

[2018-11-19 11:10] NoopDog commented on #195
The proposal above and the https://ux-dev.data.humancellatlas.org/ site have been modified with feedback from the last content meeting.  We will be reviewing again at today's UX meeting.

Cheers,
D

[2018-11-20 00:39] #162 closed

[2018-11-20 02:15] NoopDog opened #196 "Merge "Develop" into "Learn" and add the developer guides and developer docs sub sections section under "Learn""

[2018-11-20 02:17] NoopDog opened #197 "Remove "Develop/Development Guides/Overview - this basically duplicates the left nav of this section"

[2018-11-20 02:19] NoopDog opened #198 "Remove "About/Overview' section- this is redundant with the home page except for the "Mission""

[2018-11-20 02:31] NoopDog opened #199 "Remove the "Learn/Overview/ Section" - this content is about the content instead of being about some portion of the HCA/DCP."

[2018-11-20 02:32] NoopDog opened #200 "Move Data Lifecycle and Data Use Agreement to under About/Platform"

[2018-11-20 02:42] NoopDog commented on #195
The outcomes of today's UX meeting are:

1. We agreed to implement several of the changes marked with  "OK" above.
1. We agreed to do more research about the distinction between "About" vs "Intro" sections
1. We will keep the "verb" headings for the moment, but will consider nouns once we decide on teh full set of top level nav items.

I have converted this issue to an epic and linked tickets to t

[2018-11-20 22:59] #172 closed

[2018-11-20 23:00] #173 closed

[2018-11-20 23:00] NoopDog commented on #173
Now redundant with other tickets.

[2018-11-20 23:09] #171 closed

[2018-11-20 23:10] NoopDog commented on #178
This page no longer exists. Closing.

[2018-11-20 23:10] #178 closed

[2018-11-21 01:10] theathorn commented on #176
From @eweitz :

While drafting a poster abstract about the HCA Methods Registry, it occurred to me that the URLs for key areas of the HCA Data Browser could be refined for better branding.

For example, the current Methods Registry URL is https://dev.data.humancellatlas.org/analyze/portals/visualization-portals.  The "/portals/visualization-portals" part is redundant and makes the URL unnecessaril

[2018-11-27 21:52] eweitz commented on #176
@theathorn, @NoopDog, some Methods Registry URLs still have repetitive parts, e.g.:

* https://dev.data.humancellatlas.org/analyze/methods/methods
* https://dev.data.humancellatlas.org/analyze/visualization-components/visualization-components

Could those be refined?  The other ones above look good!

[2018-11-27 22:34] theathorn commented on #194
Is this complete?

[2018-11-27 22:35] theathorn commented on #193
Is this complete?

[2018-11-28 01:20] eweitz commented on #176
Nice, thank you Dave!

[2018-11-28 01:20] #176 closed

[2018-11-28 01:31] #193 closed

[2018-11-28 02:29] NoopDog commented on #176
OK these changes will be deployed everywhere shortly. If the changes look ok to you please go ahead and close the ticket. @eweitz

[2018-11-28 19:06] jodihir commented on #169
@rdgoite Can you get the information to add for the "Working with Ingest" section?

I contacted eweitz for help with the registry instructions.

[2018-11-28 19:08] jodihir commented on #133
Same as ticket 169, so I closed this one.

[2018-11-28 19:08] #133 closed

[2018-11-28 19:13] jodihir commented on #194
We removed the Overview page so we can close this.

[2018-11-28 19:13] #194 closed

[2018-11-30 01:40] brianraymor commented on #180
@jodihir - https://dev.data.humancellatlas.org/about/what-is-the-platform/data-browser - does not resolve for me. Do you mean - https://dev.data.humancellatlas.org/about/platform/dcp/data-browser?

[2018-11-30 02:01] jodihir commented on #180
Yes, that's the page.  I think we just want to add here that there IS a matrix service and what it provides to the user. It was pointed out in the content team jamboree (at the F2F) that this page is a little more "how-to" then it should be for an About section. Maybe we need to move some of this to a separate page in the Learn section to serve as a guide for using the data browser, and we can add

[2018-11-30 16:30] kozbo commented on #177
This is fixed

[2018-11-30 16:30] #177 closed

[2018-11-30 16:52] #167 closed

[2018-11-30 16:54] #69 closed

[2018-12-03 20:19] eweitz commented on #169
@jodihir, while fixing hyperlinks just now, I added [links to registry instructions](https://github.com/HumanCellAtlas/data-portal-content/blob/3b4803ae8885242781776374fee67635bd8075d3/content/learn/development-guides/analysis-applications.md#list-your-solution-in-the-registry).  They should appear on the website with the next deployment.  If more would help here for Methods Registry, please let m

[2018-12-03 20:55] jodihir commented on #169
Thanks @eweitz!

[2018-12-04 15:07] eweitz commented on #101
This is done.  See "submit your..." links in:

* https://dev.data.humancellatlas.org/analyze/portals/about
* https://dev.data.humancellatlas.org/analyze/methods/about
* https://dev.data.humancellatlas.org/analyze/visualization-components/about

[2018-12-04 15:07] #101 closed

[2018-12-05 05:47] NoopDog opened #202 "Support data set storage for Analyze registry entries."
As part of the methods registry, we are receiving data from methodologists that relate to their tools. In summary, there are 2 types of data: 1) Some data are used to confirm the tool is installed correctly or used to demo the tool. It makes the most sense to link these in the details page for each tool; 2) Other data are more standard data for collections of similar methodology. For example, the

[2018-12-06 04:01] brianraymor commented on #170
As Trevor notes, the Expression Matrix Service is a service with a REST API. We can easily duplicate the Data Store page and point developers to our README and Swagger page. I've updated the title to reflect that point. The Data Browser provides all the user facing interactions.

[2018-12-06 19:35] theathorn commented on #180
I believe the correct page is now: https://dev.data.humancellatlas.org/about/platform/dcp/data-browser/

[2018-12-07 16:13] kozbo opened #203 "Add data flow diagram to the About page"
## User story
* As a new user
* I want to easily understand how the data moves through the system
* so that I can comprehend how to use the system

## Definition of done
Create one or more diagrams to illustrate the process

[2018-12-07 16:15] kozbo opened #204 "Create a diagram to illustrate what the Data Store Does"
# Why
As a user I would like to easily understand how the data store works
# Definition of Done
 - [ ] add one or more diagrams

[2018-12-07 16:40] theathorn commented on #165
@adriennes Status on this review?

[2018-12-07 16:50] #70 closed

[2018-12-07 17:14] theathorn opened #205 "Write About the Human Cell Atlas (HCA) section"
We have an "About the DCP" paragraph under About.
We need a similar paragraph for the HCA.

[2018-12-07 17:22] theathorn opened #206 "Define HCA acronym at first use in About section"
The first sentence of "About the DCP" introduces the acronym HCA to start the sentence and then used the long form to end the sentence.  These should be reversed.

[2018-12-07 18:13] theathorn commented on #190
Move "Ingest Service", "Data Store", and "Data Browser" sections to Learn/Introduction.
"Data Processing Pipelines" has already been moved.

[2018-12-07 18:20] theathorn opened #207 "Reword Ingest Service "Process" section"
@theathorn commented on [Fri Dec 07 2018](https://github.com/HumanCellAtlas/data-browser/issues/394)

Clarify between "data" and "metadata" usages.

[2018-12-07 18:25] theathorn opened #208 "Add sub-sections under Guides"
In Guides add sections for:

 - [x] Installing the HCA CLI
 - [ ] Using the Data Browser to Access Data
 - [ ] Using the CLI to Access Data
 - [ ] Using the Data

[2018-12-07 18:30] theathorn opened #210 "Add sub-sections under Contribute"
Proposed sub-sections:
 - Contributing Data
 - Contributing Pipelines
 - Contributing Data Consumer Vignettes

[2018-12-07 18:51] jodihir commented on #206
fixed

[2018-12-07 18:51] #206 closed

[2018-12-07 18:58] jodihir commented on #169
Added data-help email address to the Ingest section. Closing this ticket.

[2018-12-07 18:58] #169 closed

[2018-12-12 18:50] theathorn commented on #139
The manifest file is names <uuid>.tsv not export.csv.
Where are the instructions to specify download location?

[2018-12-13 04:19] NoopDog commented on #205
Hi @adriennes if you want to paste the content in here as markdown we can get it added to the site.  Cheers and Thanks, D

[2018-12-13 12:59] malloryfreeberg commented on #207
I have gone through and updated the [Google doc](https://docs.google.com/document/d/1GUX6zWlPx_ZWc-GLr_8cpX2qEjtdW4pQTTw27edhPTg/edit?ts=5c0ab574#heading=h.dv5k48j4gnjo) with the text of the Ingestion Service section (and a bit of the Introduction section).

[2018-12-13 18:41] jodihir opened #212 "Create a Glossary for the portal"
This is an action item from the F2F at the Broad, November 2018

[2018-12-13 21:13] jodihir opened #213 "Add Python version requirements for Mac to the CLI installation documentation"
A beta tester installed the HCA CLI using a Mac - he concluded that he should try Python 2 because he saw that the Learn guidelines for installation called out 3 for Windows but not for Mac. - We should add what version to use to that guide.

[2018-12-14 04:57] NoopDog commented on #190
HI @jodihir can this be closed?
We need to add the "About the HCA" but that is covered by a different ticket.
I think we have done all the tings we wanted to do with "About" so far.

[2018-12-14 05:00] NoopDog commented on #141
@TimothyTickle I have updated the titles as per @adriennes suggestions on the ux-dev site.
https://ux-dev.data.humancellatlas.org/analyze

How do these look to you? Any updates or do you feel we can go with these?

Cheers,
Dave

[2018-12-14 05:11] NoopDog commented on #140
@TimothyTickle  @adriennes The text has been updated on ux-dev https://ux-dev.data.humancellatlas.org/analyze to indicate in a header over each list:

1. A brief description of the list.
1. That the projects are not built by HCA/DCP team.
1.  That you may contribute your own project to the registry.

How do these updates look to you? Do you feel we need to additionally clarify the relationship bet

[2018-12-14 22:45] #190 closed

[2019-01-04 22:53] adriennes commented on #205
@NoopDog  - I think we need to make two subpages within this section:
- About the Human Cell Atlas
- About the Data Coordination Platform
We should also move the Attributions section under "About" as a third subpage.

Proposed text below for each section:
About the Human Cell Atlas:
The Human Cell Atlas (HCA) is a collaborative community of international scientists.  Our mission is to create compr

[2019-01-07 01:02] NoopDog commented on #205
HI @adriennes your changes above for:

1. About the DCP
1. About the HCA

are deployed to all environments.

https://prod.data.humancellatlas.org/about

I will create a separate ticket to move the attributions.

Cheers,
Dave

[2019-01-07 01:03] NoopDog opened #214 "Move attributions to under the about section as the last entry."

[2019-01-07 16:45] adriennes commented on #205
Looks good!  I'm fine to close.

[2019-01-07 21:14] #214 closed

[2019-01-07 21:15] #205 closed

[2019-01-08 01:08] NoopDog commented on #140
@adriennes @TimothyTickle @eweitz

One thing that came up on a recent call with Eric was to highlight that we have a registry by calling it a registry and introducing the noun on the site.

Eric is working on creating additional text on why the specific tools were selected for the registry and how handoff will work between the registry and selected tools.

I wanted to get feedback on modifying the

[2019-01-09 00:06] bioturing opened #217 "BioTuring Single Cell Browser"
Thank you for submitting a portal to the HCA DCP Methods Registry!

To expedite your portal's addition to https://prod.data.humancellatlas.org/analyze/portals,
please provide the following package metadata.

Required:
- Tool title: BioTuring Browser
- Contact name: Son Pham
- Contact email: sonpham@bioturing.com
- Who to attribute: BioTuring Team
- Portal URL: https://bioturing.com/product/bbrowse

[2019-01-09 18:06] eweitz commented on #217
Thank you, @bioturing!

I've created a listing for your portal in our `ux-dev` branch ([commit](https://github.com/HumanCellAtlas/data-portal-content/commit/3a05a1eeaaea2fa806d70a326a3e2258a4de36da)), so it should be available under https://prod.data.humancellatlas.org/analyze/ soon.

[2019-01-09 21:20] jodihir commented on #191
I made some small edits to the wording as pointed to by the reader.

[2019-01-09 21:20] #191 closed

[2019-01-10 23:36] #146 closed

[2019-01-10 23:36] #141 closed

[2019-01-10 23:41] theathorn commented on #140
@TimothyTickle @eweitz We will close this ticket unless you review/reopen in the next few days.

[2019-01-11 01:45] #217 closed

[2019-01-14 04:12] NoopDog commented on #174
Hi @jodihir can this be closed now?

[2019-01-14 04:12] NoopDog commented on #175
Hi @jodihir can this be closed now?

[2019-01-14 21:46] jodihir commented on #175
@malloryfreeberg Should caps be added to sub-headers on Metadata structure and Design Choices articles?
eg: for this page: https://dev.data.humancellatlas.org/learn/metadata/rationale
 Does 'Machine-readable formats' become 'Machine-readable Formats'
If we follow the style of this ticket there are a bunch of changes to make so I wanted to check with you first before making them.

[2019-01-15 09:10] malloryfreeberg commented on #175
Hmm. This will require that we update the title capitalization in the documentation in the metadata-schema repo, which is what is imported by the portal to display here.

I wonder if there is a way the Portal can programmatically capitalize headers like this? The metadata documentation is not the only documentation that gets pulled in by the Portal. If there is a code-based way to standardize the

[2019-01-15 09:20] malloryfreeberg opened #220 "Remove 'provenance' field from metadata dictionary."
# Why
As a user I would like to not see system-supplied "metadata" fields to avoid being confused about what metadata I need to submit.

# Definition of Done
 - [ ] Remove display of the field `provenance` from all metadata dictionary sections.

![screen shot 2019-01-15 at 09 06 34](https://user-images.githubusercontent.com/10993501/51170568-ac8bed80-18a6-11e9-9d35-99bf36c71237.png)

[2019-01-15 18:08] jodihir commented on #175
@NoopDog Can we discuss this at our content meeting tomorrow?

[2019-01-16 16:04] #207 closed

[2019-01-16 16:25] malloryfreeberg opened #223 "Order of portals and packages"
# Why
As a user I would like to know why portals and packages are ordered the way they are in the Data Portal.

It is unclear why the portals and packages are ordered the way they are, and we don't want to introduce any bias in which tools are better than others based on their ranking in the list.

# Definition of Done
 - [ ] Decide ordering scheme of analysis portals, methods packages, and visual

[2019-01-16 16:25] malloryfreeberg commented on #223
@adriennes @gabsie @eweitz Do you have any insight into the best way to order these portals/packages?

[2019-01-16 17:15] eweitz commented on #223
The current ordering basically reflects when the product was added to its respective list.  That seems relatively unbiased, but not useful.

Better ordering criteria could incentivize developers to fulfill "optional" standards defined in [registry submission templates](https://github.com/HumanCellAtlas/data-portal-content/tree/master/.github/ISSUE_TEMPLATE) -- best practices that augment our minim

[2019-01-16 21:54] eweitz commented on #140
@NoopDog, @theathorn, these updates look good to me.

[2019-01-16 22:09] eweitz commented on #223
Alphabetical sorting is implemented, and should appear in the next deployment.

[2019-01-16 22:11] jodihir opened #224 "Review the Analysis Applications doc, in Development Guides, and change title"
This document is more of an Overview of what the developer can do within the DCP. Let's decide if this doc is still up-to-date and consistent with the rest of the info in this section and whether it can be the introduction to this section.

[2019-01-17 00:56] NoopDog commented on #223
I just alphabetized the order of the left navs as well and that is deployed to prod.

[2019-01-17 00:58] NoopDog commented on #223
@malloryfreeberg will give  you the honor of reviewing and closing this. This is all deployed to prod.

https://prod.data.humancellatlas.org/analyze

Cheers,
D

[2019-01-17 09:31] malloryfreeberg commented on #223
LGTM!

Thanks @eweitz and @NoopDog :)

It sounds like an ordering based on a badge system or another quality standard would be really cool and also meaningful (more meaningful than just abc order). Admittedly, I'm not closely following the portal and package development work, but I'd be very interested to hear about the package standards and how that could be incorporated into the ordering to rewa

[2019-01-17 09:31] #223 closed

[2019-01-22 23:16] #140 closed

[2019-01-24 14:44] #220 closed

[2019-01-24 14:44] malloryfreeberg commented on #220
Issue moved to [HumanCellAtlas/data-portal #337](https://github.com/HumanCellAtlas/data-portal/issues/337) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-24 21:31] gquon opened #228 "new package: scAlign"
Thank you for submitting a method package to the HCA DCP Methods Registry!

To expedite your package's addition to https://prod.data.humancellatlas.org/analyze/methods,
please provide the following package metadata.  You can easily edit this information later by clicking "Improve this page" at the bottom of your package's detail page ([example](https://prod.data.humancellatlas.org/analyze/methods/

[2019-01-29 14:53] jodihir commented on #85
Add Create a Glossary (currently ticket 84) to our roadmap?

[2019-01-29 14:55] jodihir commented on #175
Looks done - closing this ticket

[2019-01-29 14:55] #175 closed

[2019-01-29 14:56] jodihir commented on #174
Leaving this ticket open as a reminder, as we update and write new content.

[2019-01-29 15:01] jodihir opened #229 "Add 2 new docs about Methods Registry to the portal"
# Why
Jean Chang has asked us to add two new pages about the Methods Registry to our portal content.
We need to decide where these go: in the Analyze section or the Contribute section.

# Definition of Done
Google docs have been converted to Markdown in our CMS and are visible on the portal.

[2019-01-29 16:29] theathorn commented on #85
I believe this ticket is about publishing a public DCP roadmap on the Portal.

[2019-01-29 17:12] jodihir commented on #85
Ah right, that was the plan :)

[2019-01-30 16:20] #139 closed

[2019-01-30 16:22] kozbo commented on #213
change on the readme for the project also says 2.7+

[2019-01-30 16:23] #165 closed

[2019-01-30 16:31] kozbo commented on #174
update the Style guide with this info, then close this ticket

[2019-01-30 16:34] kozbo commented on #204
diagram is under way

[2019-01-30 16:37] theathorn commented on #151
@malloryfreeberg Please review tickets added to this Epic.

[2019-01-30 16:39] kozbo commented on #212
add the list of words that should be in the glossary here, and then we will  consider the need for a glossary

[2019-01-30 16:46] malloryfreeberg commented on #151
I think data-browser #241 does not belong linked to this Epic as it is not about the standards, it's about delivering metadata from the DS to the user.

[2019-01-30 16:48] kozbo commented on #224
what is the core message of this page?  Identify that and then edit.

[2019-01-30 18:59] jodihir commented on #210
Also, include this sub-section:
Contributing portals and packages

[2019-01-30 21:31] NoopDog commented on #210
@frano-m we can start with stub docs for each of these that don't yet go in the site map. Thanks.

[2019-01-30 22:35] jodihir commented on #229
Here are the links. Note that I haven't edited these yet; I can do it now or after you convert to markdown.  Let me know what you prefer.

Registry package submission support:
https://docs.google.com/document/d/1aqQM9tfrGNYGTLd356KilMSHsNGx_v95MXcoq8lGowk/edit?ts=5c51f799#heading=h.gczluy2p21aa

Methods Registry Standards Overview:
https://docs.google.com/document/d/14uDSNlNDrWOuRzmwd8Wnyuln8ky7RP

[2019-01-31 13:37] malloryfreeberg opened #230 "Add HCA Dataset Suitability Policy to Contribute Data section"
# Why
As a user I would like to know what data the HCA is accepting in order to make an informed decision about whether I can/should/want to contribute data the the HCA.

# Definition of Done
- [x] A draft of the HCA Dataset Suitability Policy content
- [x] Draft approved by Oversight to go on the portal
- [x] The approved HCA Dataset Suitability Policy content viewable in the portal

[2019-01-31 22:01] malloryfreeberg commented on #151
I think the other data-browser tickets (#131 and #434) and azul #552 also don't belong here as they aren't about displaying the metadata dictionary in the portal.

[2019-01-31 22:07] malloryfreeberg opened #231 "Add metadata field "type" to metadata dictionary"
# Why
As a user I would like to know whether a metadata field takes values like strings or numbers in order to help me fill in a metadata spreadsheet or interpret downloaded metadata.

# Definition of Done
 - [ ] Metadata field types are displayed in the dictionary.

[2019-01-31 22:08] #231 closed

[2019-01-31 22:08] malloryfreeberg commented on #231
Issue moved to [HumanCellAtlas/data-portal #342](https://github.com/HumanCellAtlas/data-portal/issues/342) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-01 00:12] NoopDog commented on #229
HI @frano-m lets create two new pages for the "Contribute Section" so the contribute will look like:

Contributing Data
Contributing Analysis Tools (this is the registry package submission support linked above)
 . . . . Analysis Tools Standards (This is the methods registry standards overview )

Please create the stub docs, copy in the docs as markdown and link to the site map.

Thanks!

[2019-02-06 19:22] eweitz opened #233 "Bug in automatic title casing"
Package titles are being unexpectedly uppercased in Analysis Tools Registry detail pages.  For example,  per its [documentation](https://github.com/igvteam/igv.js#igvjs), the title in https://prod.data.humancellatlas.org/analyze/visualization/igv should be "igv.js", not "Igv.Js".

Relatedly, titles in other pages like https://prod.data.humancellatlas.org/contribute/analysis-tools-registry differ i

[2019-02-13 17:05] #174 closed

[2019-02-13 17:12] jodihir commented on #212
DCP glossary items can be put here: https://docs.google.com/spreadsheets/d/1KaRWiAIVs5BETqwhQ7BI0B65EWSjCmw-RlbGdSjKLGI/edit#gid=0

(This doc is in the DCP communications and outreach folder.)

[2019-02-14 00:11] #229 closed

[2019-02-14 19:56] jodihir commented on #224
@kozbo @malloryfreeberg @theathorn Can you check if the information in this doc is:
- current
- useful, as an overview for Developers
Should we make it an Overview/introduction in the Development Guides section, rather than an Analysis Applications page?

[2019-02-15 15:34] malloryfreeberg commented on #224
1. The content of this page is definitely more than just "Analysis Applications", so either the name of the page needs to change (perhaps to Overview/Intro) or the scope of the content needs to be more focused on just analysis bits.
1. The "Examples" section describing the Consumer Vignettes seems out of order. The other topics appear to be ordered by the data lifecycle (submit, store, pipelines,

[2019-02-15 17:03] jodihir commented on #224
Thanks so much for reviewing this @malloryfreeberg! I don't think any toes would be stepped on if we edit this, so please go ahead and do that. We need to make our documentation consistent and up-to-date across the site, which is challenging with the platform in development and multiple writers.

I think "Solutions" is being used here generally, to describe tools, APIs, portals, etc. that are eith

[2019-02-15 23:24] theathorn commented on #230
@malloryfreeberg Who would write this policy?

[2019-02-16 03:09] NoopDog opened #237 "Update Contribute/Analysis Tools to match the "Analysis Tools Registry" Title, Content Guide and Tone."

[2019-02-18 00:06] NoopDog commented on #233
@eweitz this should be fixed in prod. Can you confirm? Cheers and Thanks, D

[2019-02-18 00:08] NoopDog commented on #237
@jodihir I have updated the title caps and the outline headings. Is there more you feel needs to be done to these pages or can we close this ticket? Thanks! D

[2019-02-18 00:13] NoopDog opened #238 "Add "Contributing Vignettes" section to the contribute section."
We need a contributing vignettes as its own page in the contribute section.
This should cover a brief overview of what the vignettes are, were the repository is and how to contribute.

Proposed starter text:

## Contributing Vignettes

The HCA maintains a [repository](https://github.com/HumanCellAtlas/data-consumer-vignettes) of "Data Consumer Vignettes" that are Python scripts, Jupyter notebooks

[2019-02-18 00:14] NoopDog commented on #238
@frano-m can you create a stub doc for this but leave out of the nav, Thx.

[2019-02-18 00:15] NoopDog opened #239 "Add a Contributing Pipelines section to the "Contribute" section."

[2019-02-18 00:16] NoopDog commented on #239
@frano-m can we get a stub doc for this as well but leave out of the site map. Thx. D

[2019-02-18 00:18] NoopDog commented on #210
Separated this into separate tickets e.g #238 and #239

[2019-02-18 00:18] #210 closed

[2019-02-18 01:29] eweitz commented on #233
Confirmed!

[2019-02-18 01:29] #233 closed

[2019-02-18 13:14] malloryfreeberg commented on #230
The policy is written [here](https://docs.google.com/document/d/1U7S9EsDPgxeEBuiONmyUorU2k8oNH-4CoM6JN9D5RHU/edit).

I think we need a shorter version for displaying in the Portal. And this shorter version will likely need approval by the Oversight Committee (or similar group). You can assign me an AI to draft the short proposal and then circulate for approval.

[2019-02-18 17:41] jodihir commented on #230
I assigned it to you.  Do you want to move this out of the backlog, or leave it there for now?

[2019-02-18 18:42] jodihir commented on #238
Let's discuss the content of this page with TJ, who is working on vignettes and will be coming to our team meetings.

[2019-02-18 19:32] jodihir commented on #237
I'm closing this ticket and will ask Jean to review/finalize these pages.  I'm not sure if she'll have more content and/or edits to suggest - we can do that in a separate ticket.

[2019-02-18 19:32] #237 closed

[2019-02-19 14:20] malloryfreeberg commented on #230
@gabsie

[2019-02-19 23:07] NoopDog commented on #238
@jodihir I have made very basic holding page content in this ticket. Do you think we need additional content before we make a basic page and make it live?

[2019-02-19 23:08] NoopDog commented on #239
@jodihir who can write up a very basic overview for this one that we can then iterate on? Need just enough to go live with.

[2019-02-20 19:18] jodihir commented on #238
@NoopDog I can't find the basic holding page you're talking about.  Can you point me to it?

[2019-02-20 19:20] NoopDog commented on #238
Hi Jodi, sorry the page is not created yet. The text I was referring to is at the top of this ticket.

[2019-02-20 19:23] jodihir commented on #239
I think you can move this doc:

https://prod.data.humancellatlas.org/learn/development-guides/pipeline-processing-development-guides/contributing-a-pipeline-to-the-hca-dcp

out of the Development Guides section and put the content int a new doc in the Contribute section. Does that sound OK?

[2019-02-20 21:41] jodihir commented on #238
Ah, got it!  We can ask TJ for her thoughts at the content team meeting next week, but if you want to make it live now it seems fine to me, and we can update it later.

[2019-02-21 13:50] malloryfreeberg commented on #230
@gabsie and I are working on this now, so I moved it to In Progress.

[2019-02-21 21:29] jodihir opened #241 "Update Analyze pages to point to the Contribute section"
# Why
Submission of packages is described in detail in the Contribute section, so we should send users there from the Analzye pages, not right to the Github submission forms.
# Definition of Done
 - [ ] <pages have been updated to send users to the Contribute section "Contributing to the Analysis Tools Registry">

[2019-02-22 00:41] #238 closed

[2019-02-22 00:41] #239 closed

[2019-02-22 00:56] NoopDog opened #242 "Remove project from "Other" facet category drop down."
Now that we have the projects selectable on the projects tab. I would like to:

1. remove them from the "Other" facet category drop down.
1. then since the "Other" drop down will only have "File Format" in it. We can rename "Other" to "File".

This will:

1. Remove a duplicate way of doing the same thing. (selecting projects)
1. Move us in the direction of of not needing the facet categories.
1. M

[2019-02-22 01:03] NoopDog commented on #242
Meant to create this in data portal closing

[2019-02-22 01:03] #242 closed

[2019-02-27 15:57] #213 closed

[2019-02-27 16:00] malloryfreeberg commented on #230
Draft is [here](https://docs.google.com/document/d/1DKwV2KidfaYL6ffwcdDreeyBMpVjK0STkJJzZYo0buk/edit#). Requesting to bring it up on PM call tomorrow for approval from Oversight.

[2019-02-27 16:24] kozbo commented on #204
We feel that this will be covered by the main data flow diagram. Will reopen if there proves to be a need.

[2019-02-27 16:24] #204 closed

[2019-02-27 19:21] NoopDog opened #244 "Explore how to make content more hyperlinked"
Come up with some technical designs and appropriate user flows for making the documents linkable.

Should we do this manually or is there a way we can auto link some docs.

[2019-02-27 20:08] jodihir opened #245 "Move the Analysis Applications page to become an overview for the Development Guides section"
# Why
The analysis applications page (https://prod.data.humancellatlas.org/learn/development-guides/analysis-applications/) is more of an overview for how developers can interact with the components of the portal, so it seems better suited to be the landing page for the development guides section (which is currently the Ingest Broker Development Guide: https://prod.data.humancellatlas.org/learn/de

[2019-02-27 21:22] #224 closed

[2019-03-01 03:53] NoopDog opened #246 "Remove scmap from sitemap (but leave the document in place so it can be added to later)"
Scmap needs to be removed while the content is updated.

[2019-03-01 04:43] frano-m commented on #246
@NoopDog document has already been removed by someone...

[2019-03-01 04:49] NoopDog commented on #246
No worries, just remove from the sitemap then. Thx.

[2019-03-01 04:52] frano-m commented on #245
@NoopDog PR in content to complete this ticket https://github.com/HumanCellAtlas/data-portal-content/pull/240

[2019-03-01 06:40] NoopDog opened #247 "Update Data Storage Service API page to be consistent with the Matrix Service API page."

[2019-03-05 20:38] NoopDog opened #248 "Add Data Processing Pipeline API to /learn/API Documentation"

[2019-03-05 20:38] NoopDog opened #249 "Add any Ingest API to /learn/API Documentation"

[2019-03-05 23:36] #245 closed

[2019-03-05 23:39] #246 closed

[2019-03-06 00:16] #170 closed

[2019-03-06 00:16] #247 closed

[2019-03-08 22:29] theathorn opened #250 "Update GDPR statement with edits for Analytics gathering"
See https://docs.google.com/document/d/1ZPycnFHLQdNLeClPEmACbD1gZhoYQJshP60JBHoZZyU.

[2019-03-08 22:45] NoopDog commented on #189
@frano-m I think this should be simple now that we have done the gatsby upgrade. Lets discuss.

[2019-03-11 07:39] NoopDog commented on #189
@theathorn this is deployed to prod.

[2019-03-11 17:30] #189 closed

[2019-03-12 21:08] NoopDog opened #251 "Update Top Nav / Content Outline Based on User Experience Feedback"
## Problems to Address

### Some Users have a hard time:

1. Finding the metadata dictionary
1. Finding the api section
1. Finding the vignettes
1. Finding Information about the analysis pipelines.
1. Understanding that we do our own analysis.
1. Understanding what the matrix service does, and does not do, and how that relates to the file manifest.
1. Understanding how to use the downloaded data,

[2019-03-15 19:37] #250 closed

[2019-03-18 16:32] NoopDog opened #253 "Metadata Dictionary: Add "example" text to field listings"

[2019-03-18 16:33] NoopDog opened #254 "Make list of "types" easier to see all in one go in the metadata dictionary"

[2019-03-18 16:34] NoopDog opened #255 "Make list of ontologies explicit in the metadata dictionary"

[2019-03-19 17:22] amarjandu opened #256 "Metadata Dictionary: Alphabetize Type Entities"
In order to make it easier to find/types by scanning the list.

[2019-03-19 17:27] amarjandu opened #257 "Use Fragment - Identifiers in Metadata Dictionary"
# Why
As a user I would like to reference a definition in another project or webpage

# Definition of Done
-  Use [fragment-identifiers](https://en.wikipedia.org/wiki/Fragment_identifier) to allow links to definitions

- Allow hoover buttons (like github with linking to a line of code) to easily get link for definition.

[2019-03-20 09:47] malloryfreeberg commented on #212
There is another list of DCP glossary items [here](https://docs.google.com/spreadsheets/d/1yOjsfZptQJiuagVLpy4xlNnL9-yKK87gTs5gWIare2c/edit#gid=0). Should this and the doc Jodi referenced ([here](https://docs.google.com/spreadsheets/d/1KaRWiAIVs5BETqwhQ7BI0B65EWSjCmw-RlbGdSjKLGI/edit#gid=0)) be reconciled?

[2019-03-20 13:06] jodihir commented on #212
Yes, let's do that!  I didn't realize we already have that doc. Thanks @malloryfreeberg.

[2019-03-22 05:00] NoopDog commented on #251
The layout above is configured in the ux-dev site https://ux-dev.data.humancellatlas.org/ for review and feedback.

[2019-03-22 15:36] malloryfreeberg commented on #230
Draft was put in front of oversight on Mar 18. Oversight will give feedback by next meeting (Apr 1).

[2019-03-22 23:04] kozbo opened #258 "Add search capabilities to the data dictionary"
# Why
As a user I would like to be able to search for a specific metadata term in the dictionary to quickly locate the definition
As a user I would like to be able to search for a fully qualified metadata term in the dictionary to quickly locate the definition

Motivation:
Beta users had a hard time finding documentation on the metadata terms, and when they did find it they had a hard time finding

[2019-03-22 23:05] kozbo commented on #258
See @hannes-ucsc for more background on this isssue

[2019-03-22 23:10] kozbo commented on #258
dupe of #260 in the data-portal. Wrong repo, closing

[2019-03-22 23:10] #258 closed

[2019-03-26 14:58] GeorgescuC opened #261 "New package: infercnv"
- Tool title: inferCNV
- Contact name: Christophe Georgescu
- Contact email: cgeorges@broadinsitute.org
- Who to attribute: Brian J. Haas, Christophe H. Georgescu, Maxwell P. Brown, Timothy L. Tickle, Livnat Jerby, Matan Hofree, Itay Tirosh, Aviv Regev
- Method-ready Docker image URL: docker pull singlecellportal/infercnv:0-99-5
- Code repository URL: https://github.com/broadinstitute/infercnv
- A

[2019-03-26 19:14] jodihir commented on #83
@NoopDog This document is updated.  Can you make it live again on the portal (we had taken it down)?

[2019-03-26 20:20] NoopDog commented on #83
Yup, will do. Thx.

[2019-03-26 23:44] NoopDog opened #262 "Add back Optimus Prime doc"
https://github.com/HumanCellAtlas/data-portal-content/issues/83#issuecomment-476805875

[2019-03-27 23:10] adriennes opened #263 "Make it clear to users how to get to CLI/query service as alternative to using the Data Browser"
For a user utilizing a screen reader (or someone who just prefers to use a CLI to the data browser), we should make it very clear that there is an alternative to using the data browser.  There should be a short redirect link somewhere on the data browser page.

[2019-04-02 15:31] jlchang commented on #261
@NoopDog [details page](https://github.com/HumanCellAtlas/data-portal-content/blob/master/content/analyze/methods/infercnv.md) for this Method is ready.

Please add inferCNV to sitemap as a listing for Analysis Tools Registry in the Methods section

[2019-04-09 19:34] jodihir commented on #83
This is done, with the exception of the diagram which is in revision by Janeece.  The new diagram is based on the current graphic on the page.

[2019-04-10 21:14] jodihir commented on #212
I added the words from [this doc](https://docs.google.com/spreadsheets/d/1yOjsfZptQJiuagVLpy4xlNnL9-yKK87gTs5gWIare2c/edit#gid=0) to [this doc](https://docs.google.com/spreadsheets/d/1KaRWiAIVs5BETqwhQ7BI0B65EWSjCmw-RlbGdSjKLGI/edit#gid=0): so it should be possible to just use the latter.  I also went through all the charters and pulled out those definitions and added those.

[2019-04-11 01:15] jlchang commented on #261
@NoopDog Is there more information needed to add this method to the sitemap as a listing for Analysis Tools Registry?

[2019-04-11 01:18] NoopDog commented on #261
Hi @jlchang No, I think we have what we need. Sorry this fell of the radar. Will get this prioritized.  Thx

[2019-04-11 02:00] NoopDog commented on #261
How does this look:
https://dev.data.humancellatlas.org/analyze/methods/infer

[2019-04-11 02:04] jlchang commented on #261
Looks great! Many thanks.

[2019-04-11 02:15] NoopDog commented on #261
This is deployed to prod https://prod.data.humancellatlas.org/analyze/methods/infer

[2019-04-11 02:56] #262 closed

[2019-04-11 02:56] #251 closed

[2019-04-11 02:57] #261 closed

[2019-04-11 03:54] NoopDog opened #269 "Metadata Dictionary: Add back Provenance fields to indicate that there are documentIds and document create timestamps."

[2019-04-11 03:59] NoopDog opened #270 "Metadata Dictionary: Indicate if fields are of enum type and show the list of allowed values."

[2019-04-12 20:45] kbergin opened #272 "Nit in title for Optimus pipeline documentation"
![image](https://user-images.githubusercontent.com/9449764/56065172-18fd7800-5d42-11e9-99b7-7141d3b91a63.png)
The pipeline is just called `Optimus`, not `Optimus Prime` it's also in the URL https://prod.data.humancellatlas.org/pipelines/hca-pipelines/data-processing-pipelines/optimus-prime-workflow

Thanks!

[2019-04-16 16:43] NoopDog commented on #272
Thanks @kbergin will let you know when this is fixed.

[2019-04-17 14:39] jodihir commented on #212
Here is the doc to work from: https://docs.google.com/spreadsheets/d/1KaRWiAIVs5BETqwhQ7BI0B65EWSjCmw-RlbGdSjKLGI/edit#gid=0
Closing ticket

[2019-04-17 14:39] #212 closed

[2019-04-17 14:47] jodihir opened #274 "Rename "Community Pipelines" to "Develop Pipelines""
The docs in this section are not really about community pipelines, and Tim and Kylee requested that we not use that title. They would prefer we name the section Pipeline Development (or Develop Pipelines, Developing Pipelines - whatever fits best with our current naming style).
Can you make that change soon please?  Thanks!

[2019-04-17 18:44] NoopDog commented on #274
Sure I thought the pipelines developed outside of HCA were called "Community Pipelines". We can quickly change to Developing Pipelines and If it makes sense change it again soon to "Developing Community Pipelines" or "Developing your own Pipeline".

I guess I am unclear about who would read this section and what they would be trying to do.
What wold the user goal be for the person reading these do

[2019-04-17 19:23] NoopDog commented on #274
From slack conversation with @TimothyTickle  let's:

1. Rename to "Pipeline Development"

2. Have pipeline developer evaluate for feedback

3. If they say it can be improved we will, if they say to drop it we can stash it until we have users interested.

[2019-04-17 21:29] NoopDog commented on #274
@frano-m can you rename the heading and then fix the paths to the sub docs please? Thanks!

[2019-04-18 02:11] NoopDog commented on #241
@jodihir this is done on dev. Can you review? Thanks
https://dev.data.humancellatlas.org/analyze

[2019-04-18 03:57] NoopDog commented on #274
@TimothyTickle @jodihir @kbergin This is on dev for your review:
https://dev.data.humancellatlas.org/pipelines/pipeline-development/processing-pipelines/pipeline-processing-development-guides

The heading and the URL of all the sub documents are updated. Thanks @frano-m

Cheers,
Dave

[2019-04-18 03:58] NoopDog commented on #272
@kbergin this is on dev for your review.
https://dev.data.humancellatlas.org/pipelines/hca-pipelines/data-processing-pipelines/optimus-workflow

Cheers,
Dave

[2019-04-18 16:37] jodihir commented on #274
Looks good to me! Thanks @NoopDog

[2019-04-18 16:45] kbergin commented on #274
Thanks, and to clarify the Q above, we are working on an RFC about enabling community members to do "contributed pipelines" but we don't want to suggest that that's an option to users until we have agreement on the process and requirements. I still think the section has value, given many users in the closed beta interviews weren't aware we were analyzing data with our own pipelines, they may be cu

[2019-04-18 16:54] jodihir commented on #241
@jlchang Can you take a look, and see if this flow works for users who want to submit a portal, method, or visualization to the DCP site (by going to the page you wrote)? https://dev.data.humancellatlas.org/analyze
where we link from "here": Are you developing a portal that can consume HCA data? Please submit it for inclusion to the registry here.

Thanks!

[2019-04-18 17:13] NoopDog commented on #269
![Screen Shot 2019-04-18 at 10.05.39 AM.png](https://images.zenhubusercontent.com/57323611bf93871ccd9ad094/bad9c433-aa71-4dd0-a4a4-60d01b80ca1d)

![Screen Shot 2019-04-18 at 10.10.05 AM.png](https://images.zenhubusercontent.com/57323611bf93871ccd9ad094/75fcba79-2ca2-4d43-9788-46eb998e1b7f)

Looks like this update borked the field type they are showing as enum when they should not be. @frano-m

[2019-04-18 17:16] NoopDog commented on #241
@jlchang  @jodihir  this is promoted to prod.

[2019-04-18 20:43] matthewspeir commented on #241
Sorry if this has already been discussed, but Isn't it not recommended to have 'here' be your link text?

You could make 'the registry' or 'submit' the link out to the contribute page. Or the second sentence could be "Read more about submitting your tool to the registry." With 'submitting your tool to the registry' as the link to that page.

Not a deal breaker, but I figured it was worth mentionin

[2019-04-19 00:45] jlchang commented on #241
@jodihir That particular "here" link (on the "analyze" page for portals), used to trigger a github issue submission using this template: https://github.com/HumanCellAtlas/data-portal-content/blob/master/.github/ISSUE_TEMPLATE/submit-visualization-component-package.md

Submitting a portal is not covered in the analysis-tools-registry page because portal submission had fewer requirements and was mor

[2019-04-19 04:04] NoopDog commented on #241
@jlchang @matthewspeir please feel free to make the suggested corrections. There is an edit link on the bottom of each page. Thanks!

[2019-04-19 10:42] jlchang commented on #241
@jodihir made [PR 277](https://github.com/HumanCellAtlas/data-portal-content/pull/277) to add the portal submission link. Wasn't sure what the current protocol is for merge to master. Should I tag you for review?

[2019-04-23 22:00] #272 closed

[2019-04-23 22:01] #274 closed

[2019-04-23 22:01] #257 closed

[2019-04-23 22:01] #253 closed

[2019-04-23 22:01] #270 closed

[2019-04-23 22:01] #256 closed

[2019-04-23 22:01] #241 closed

[2019-04-26 17:54] #254 closed

[2019-04-26 17:56] #269 closed

[2019-04-29 18:45] jodihir commented on #83
Graphic currently on the page can be replaced by the new graphic when it is ready. Closing ticket.

[2019-04-29 18:45] #83 closed

[2019-04-29 21:47] jodihir opened #279 "Replace older graphics on the Optimus and Smart-Seq2 documentation with Janeece's new graphics"
When Janeece's diagrams of the Smart-Seq2 and Optimus pipelines are ready, they should replace the older graphics on these two pages:

Optimus: https://prod.data.humancellatlas.org/pipelines/hca-pipelines/data-processing-pipelines/optimus-workflow

Smart-Seq2: https://prod.data.humancellatlas.org/pipelines/hca-pipelines/data-processing-pipelines/smart-seq2-workflow

[2019-05-03 19:17] NoopDog opened #280 "Broken link in browser metadata section"
https://prod.data.humancellatlas.org/metadata/design-principles/schema_style_guide contains a broken link in the second to last paragraph

[2019-05-13 18:56] matthewspeir opened #281 "Review User Guides to ensure they are up-to-date and correct"
# Why
As a user I would like to follow the User Guides to learn about the HCA and how to use some of the basic functionality

# Definition of Done
 - [ ] The four User Guides currently available on the prod site have been reviewed
 - [ ] Any errors found have been listed in this ticket with a plan to correct them. Major errors/issues may need their own ticket for discussion.

[2019-05-13 21:52] NoopDog opened #282 "Create a stub doc for the Japan science meeting tutorial"
title - TBD - lets use Japan Science Meeting Tutorial for now.
Place it under "Consumer Vignettes" on the Guides Section

[2019-05-13 23:49] theathorn opened #284 "Tutorial for “Download Any BAM File” vignette"
There is a tutorial (on or pointed to from our “Guides” portal section) that a researcher can follow that will show them how to search and download data and perform some basic analysis. A great candidate for this is leveraging the “Download Any BAM File” vignette in a tutorial on our Data Portal site and including a very basic analysis example given some BAMs downloaded from HCA.

[2019-05-13 23:51] theathorn opened #285 "Tutorial to send search results to Terra"
There is a tutorial (on or pointed to from our “Guides” portal section) that a researcher can follow that will show them how to search and send results (could go with BAM files) to Terra. The tutorial will then show them how to do some basic analysis on the BAMs in Terra via a WDL workflow (could be the same super simple analysis that the first tutorial did).

[2019-05-13 23:54] theathorn opened #286 "Tutorial on how to send matrix expression data to Jupyter notebook"
STRETCH There is a tutorial (on or pointed to from our “Guides” portal section) that a researcher can follow that will show them how to search and generate a URL for a matrix of the expression data for their search results. They can then take this to a Jupyter notebook service running in Terra and execute a vignette based on what we did in the “HCA Scanpy Demo” from Nov 2018.

[2019-05-17 05:16] diekhans opened #288 "Link to user documentation on the website takes one to a github repo without user documentation"
On https://prod.data.humancellatlas.org/apis, the linked labeled "HCA Data Storage System (DSS)" links to the DSS GitHub repository for the DSS [(https://github.com/HumanCellAtlas/data-store](https://github.com/HumanCellAtlas/data-store).

This page describes the DSS as

This is code and DSS developer documentation, not user documentation.  Also describing a production system as "prototypes" for a

[2019-05-17 18:46] #282 closed

[2019-05-17 23:45] NoopDog commented on #288
Spoke with Mark and we removed the links to the project home page and to amazon and google.
We still need docs on how to use the API other than the links provided.

[2019-05-20 19:48] theathorn commented on #286
See https://prod.data.humancellatlas.org/guides/consumer-vignettes/accessing-hca-data-in-a-jupyter-notebook

[2019-05-21 21:02] #286 closed

[2019-05-21 21:16] NoopDog opened #290 "Create stub doc/pr for matrix service user guide"
https://github.com/HumanCellAtlas/data-portal-content/pull/289#issuecomment-494554418

[2019-05-21 21:18] NoopDog commented on #208
@theathorn I feel this is best replaced by adding an updated data browser user guide and separate DSS user guide. Lets close this and replace with new ticketss.

[2019-05-21 21:19] NoopDog commented on #180
@theathorn lets close this one as well and replace with  the updated portal and DSS user guides.

[2019-05-23 20:03] NoopDog commented on #255
@theathorn lets close this (not implemented) till we get better requirements on how to link out to to the ontologies.  Closing in favor of https://app.zenhub.com/workspaces/dcp-5ac7bcf9465cb172b77760d9/issues/humancellatlas/data-portal/446

[2019-05-23 20:03] #255 closed

[2019-05-28 21:36] theathorn commented on #230
Current state @malloryfreeberg ?

[2019-05-29 10:52] hewgreen opened #292 "Search for metadata term"
# A feature request

I'd like to be able to search for an attribute straight from https://prod.data.humancellatlas.org/metadata rather than having to scroll through to find what I need.

## Why
Many users don't care about the model and only see metadata as key value pairs. Therefore, I want to be able to use free text search to find similar attributes or specific programatic name e.g.
`library_pre

[2019-05-29 10:57] malloryfreeberg commented on #230
There is an open PR in data-portal-content for this content to be added to the site. Awaiting a review from Gabby and/or Adrienne.

[2019-05-30 17:10] NoopDog commented on #292
Hi @hewgreen thanks for raising this. We have this on our roadmap as data portal ticket #260.
I will add your comments in there and close this one and try to get this feature prioritized as it is a common request.

[2019-05-30 17:10] #292 closed

[2019-05-30 21:39] NoopDog opened #293 "Document how to link metadata tsv download to matrix files"

[2019-06-03 17:25] #208 closed

[2019-06-03 17:26] #195 closed

[2019-06-03 21:44] #50 closed

[2019-06-03 21:48] #13 closed

[2019-06-03 23:25] #180 closed

[2019-06-07 22:16] theathorn opened #294 "Tutorial for project details page"
# Why
There is a tutorial (on or pointed to from our “Guides” portal section) that a researcher can follow that will show them how to 1) navigate to and understand project pages including what the metadata download link does

# Definition of Done
Tutorial tested and verified

[2019-06-07 22:23] theathorn commented on #284
@briandoconnor @NoopDog Can we get this ready for the F2F demo? Do we need help from @kozbo 's team on updating the "BAM stat" vignette or is it good to go?

[2019-06-10 20:32] theathorn commented on #284
See https://github.com/HumanCellAtlas/data-consumer-vignettes/tree/master/tasks/Download%20BAM

[2019-06-10 21:55] #290 closed

[2019-06-24 23:38] theathorn commented on #284
@kozbo Can we get help from @natanlao to update/test/document the above vignette?

[2019-06-26 12:42] malloryfreeberg commented on #230
The corresponding [PR](https://github.com/HumanCellAtlas/data-portal-content/pull/278) has been merged.

Happy to iterate over content in the future based on user feedback.

[2019-06-26 12:42] #230 closed

[2019-07-22 21:57] NoopDog opened #296 "Update Slack URL in Join Us Section"

[2019-07-22 21:58] #296 closed

[2019-07-30 18:51] #294 closed

[2019-07-31 13:44] FredPont opened #298 "Single-Cell Signature Explorer"
Thank you for submitting a visualization component package to the HCA DCP Methods Registry!

To expedite your package's addition to https://prod.data.humancellatlas.org/analyze/visualization,
please provide the following package metadata.  You can easily edit this information later by clicking "Improve this page" at the bottom of your package's detail page ([example](https://prod.data.humancellatl

[2019-07-31 18:41] NoopDog opened #299 "Update Analysis Tools sections to use H2 for subsequent (non title) outlines."
The "Contact" links and any other non title links can come down from a H1 to a H2 to bring them in line with the reset of the content.

[2019-07-31 19:30] matthewspeir commented on #298
Thank you, @FredPont, for submitting your tool to the HCA DCP tools registry. We will review the information you have provided and let you know if we have any questions.

[2019-08-01 01:39] frano-m commented on #299
@MillenniumFalconMechanic @NoopDog this was completed as part of #456.

![image.png](https://images.zenhubusercontent.com/5ac463024b5806bc2bcd91dd/49fbd723-dada-4d3a-96bb-0e026ea92d10)

[2019-08-01 02:43] NoopDog commented on #299
Super. Thanks @frano-m

[2019-08-01 22:44] natanlao commented on #284
This concerns the "Download Any BAM" notebook in HumanCellAtlas/data-consumer-vignettes, so I am transferring it there.

[2019-08-06 18:20] #299 closed

[2019-08-06 18:50] theathorn opened #302 "Write tutorial for "Download any BAM file" vignette"
@natanlao to write the content and then coordinate with @NoopDog to integrate as an item in the Guides section of the portal.

[2019-08-07 17:04] jahilton opened #304 "add a link to the data release policy under "Contribute""
# Why
As a data generator, I would like to understand the policies surrounding the data I am submitting to the DCP

# Definition of Done
 - a "Data Release Policy" header appears somewhere under https://data.humancellatlas.org/contribute & contains a link to https://drive.google.com/file/d/1kLR0OpEFqS9DdSqFZmM4b2ATFyvwpPum/view

[2019-08-09 10:52] pcm32 opened #305 "Add https://humancellatlas.usegalaxy.eu portal"
Thank you for submitting a portal to the HCA DCP Methods Registry!

To expedite your portal's addition to https://data.humancellatlas.org/analyze,
please provide the following package metadata.  You can easily edit this information later by clicking "Improve this page" at the bottom of your portal's detail page ([example](https://data.humancellatlas.org/analyze/portals/asap)).

Required:
- Tool ti

[2019-08-13 04:39] frano-m commented on #279
@NoopDog @MillenniumFalconMechanic would you mind please providing the *png for both these new diagrams - thanks!

[2019-08-13 05:14] NoopDog commented on #279
Hi @frano-m

I think these are in the  handoff pdf pages 9 and 10.

https://zh-file.s3.amazonaws.com/124946282/1f8867ae-b448-401a-8b12-2c27fd7f380b?Expires=1565672199&AWSAccessKeyId=AKIAI5X57DET3FHKSALA&Signature=8Ak%2BBoNbpRwmEWXh7bFbSQJwW9E%3D

[2019-08-13 21:26] hannes-ucsc opened #306 "Tweak CLI download instructions to reflect file store and layout changes"
Tweak https://data.humancellatlas.org/guides/quick-start-guide#using-the-cli-to-download-files-listed-in-the-manifest to reflect @jessebrennan's recent download changes.

For example, consider mentioning the `--layout` option and explaining the file store a little bit.

[2019-08-14 00:06] frano-m commented on #279
Hi @NoopDog I need the original image file please...

[2019-08-14 00:12] NoopDog commented on #279
I believe the files you are looking for are in here:

https://drive.google.com/drive/folders/1LPVQDc0MVdmFjGkQs-NYUewMVQYJx5kw

Let me know if you still have questions.

Thanks!

[2019-08-14 20:34] frano-m commented on #279
https://drive.google.com/drive/folders/1LPVQDc0MVdmFjGkQs-NYUewMVQYJx5kw

[2019-08-15 18:41] adriennes opened #308 "Broken link to Jupyter notebook in Pipelines documentation"
In the Data Portal Pipelines documentation:

HCA Pipelines> File Formats> Matrix Download File Formats> Jupyter Notebook link leads to a 404 error

@kozbo

[2019-08-15 19:40] natanlao commented on #302
To clarify, does this ticket entail writing a new tutorial that shows how to download a BAM file, or is this just inlining the updated, existing [Download any BAM file vignette](https://github.com/HumanCellAtlas/data-consumer-vignettes/tree/master/Download%20Any%20BAM%20File)?

[2019-08-15 20:23] theathorn commented on #302
This would be documenting how to run the existing vignette in the Data Portal Guides section.

[2019-08-15 22:11] adriennes commented on #308
Cool, I just updated the link to point to the right place.  We should check on others pointing to specific vignettes

[2019-08-15 22:11] #308 closed

[2019-08-16 10:05] zperova opened #309 "internal QA - Gray out liver similar to other organs in organogram."
# Why
As a user, I would like to see a consistent view of the organs in the organograms.

Currently, the Liver is not greyed out as the other organs in the list on https://ux-dev.data.humancellatlas.org/

# Definition of Done
 - [ ] Liver is greyed out similarly to other organs in the list

[2019-08-16 10:23] zperova opened #310 "internal QA - Fix or remove "Fat" from the list of organs"
### Why
As a user, I would like to understand what is 'Fat' in the list of organs on https://ux-dev.data.humancellatlas.org/

Hovering on "Fat" doesn't show anything on the organogram however indicates that there are 5.9K cells of "Fat" in the HCA.

Also when you click on it, it doesn't show any project but does load some headings which should not be there:
https://ux-dev.data.humancellatlas.org/e

[2019-08-16 15:18] zperova opened #311 "internal QA - Include info about not accepting data from living EU donors in the Data Suitability - Criteria?"
### Why
As a user, I would like to clearly see what type of data I can submit. Currently, because of European GDPR legislation, HCA can not take any data from alive EU donors.

I think this should be discussed whether this is needed at this time.

### Definition of Done
 - [ ] add a statement about the inability to take data from alive EU donors to the Data Suitability Criteria

[2019-08-16 16:40] matthewspeir commented on #305
Hi, @pcm32. Thank you for submitting an analysis portal. We'll review that it meets our standards at https://data.humancellatlas.org/contribute/analysis-tools-registry/registry-standards and get back to you soon.

[2019-08-20 20:37] #288 closed

[2019-08-20 20:37] theathorn commented on #288
Issue moved to [HumanCellAtlas/data-portal #489](https://github.com/HumanCellAtlas/data-portal/issues/489) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-20 20:38] theathorn commented on #298
Issue moved to [HumanCellAtlas/data-portal #490](https://github.com/HumanCellAtlas/data-portal/issues/490) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-20 20:38] #298 closed

[2019-08-20 20:39] #305 closed

[2019-08-20 20:39] theathorn commented on #305
Issue moved to [HumanCellAtlas/data-portal #491](https://github.com/HumanCellAtlas/data-portal/issues/491) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-20 20:39] #306 closed

[2019-08-20 20:39] theathorn commented on #306
Issue moved to [HumanCellAtlas/data-portal #492](https://github.com/HumanCellAtlas/data-portal/issues/492) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-20 20:41] #309 closed

[2019-08-20 20:41] theathorn commented on #309
Issue moved to [HumanCellAtlas/data-portal #493](https://github.com/HumanCellAtlas/data-portal/issues/493) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-20 20:49] #85 closed

[2019-08-20 20:49] #12 closed

[2019-08-20 21:03] #151 closed

[2019-08-20 21:30] #279 closed

[2019-09-24 16:05] mvonpapen opened #315 "FASTGenomics"
Thank you for submitting a portal to the HCA DCP Methods Registry!

To expedite your portal's addition to https://data.humancellatlas.org/analyze,
please provide the following package metadata.  You can easily edit this information later by clicking "Improve this page" at the bottom of your portal's detail page ([example](https://data.humancellatlas.org/analyze/portals/asap)).

Required:
- Tool ti

[2019-09-24 20:31] theathorn commented on #315
Moved to https://app.zenhub.com/workspaces/orange-5d680d7e3eeb5f1bbdf5668f/issues/humancellatlas/data-portal/540.

[2019-09-26 11:29] mvonpapen commented on #315
Hi @theathorn ,
I'm not sure if I understand the move to data-portal correctly. FASTGenomics is foremost an analytics platform and not a data portal. Upload and sharing of data is of course part of it, but our focus is on providing a reproducible analysis to our users.

[2019-09-26 15:40] matthewspeir commented on #315
Hi @mvonpapen, I believe the 'data-portal-content' repo where the ticket was originally opened is being retired. The contents of that repository and all tickets were moved to the data-portal repo. It's not related to what you submitted.

 I'll make a ticket to have the links to the templates open up to this repo rather than the data-portal-content repo.

[2019-09-26 21:03] theathorn commented on #315
The templates ticket is https://app.zenhub.com/workspaces/orange-5d680d7e3eeb5f1bbdf5668f/issues/humancellatlas/data-portal/548.

Closing this ticket in favor of https://app.zenhub.com/workspaces/orange-5d680d7e3eeb5f1bbdf5668f/issues/humancellatlas/data-portal/540.

[2019-09-26 21:03] theathorn commented on #315
@NoopDog Please close this ticket - I don't have permissions.

[2019-10-28 21:56] #315 closed, assigned to nobody

[2020-08-17 19:36] hannes-ucsc opened #316 "Rename `orange` label"
Rename the label to canary and adjust the Github action accordingly.

[2020-08-17 22:21] theathorn commented on #316
Closing - this repo no longer in use.

[2020-08-17 22:21] #316 closed, assigned to nobody